.block {
  padding: 10px;
  background: violet;
}

.block * {
  margin-bottom: 30px;
}

.block__title {
  font-size: 30px;
  display: block;
}

.block__text {
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.block__text._active {
  display: block;
}

.sector {
  background-color: gold;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
}

.sector._absolute {
  position: absolute;
}

.text {
  font-size: 32px;
  padding: 10px;
  margin-top: 150px;
  margin-bottom: 100px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding: 10px;
  border-radius: 6px;
  background: rosybrown;
  border: 1px solid #000;
}

.card__text {
  max-height: 50px;
  overflow: hidden;
  -webkit-transition: max-height 0.9s ease;
  -o-transition: max-height 0.9s ease;
  transition: max-height 0.9s ease;
}

.card__button {
  color: tomato;
}
