//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	// display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
			background-color: $colorCalicioHover;
			transform: scale(1.1);
		}
	}
	&._fw {
		width: 100%;
	}
	@extend %ffcu;
	font-weight: 700;
	font-size: rem(16);
	line-height: 1.75;
	letter-spacing: 0.04em;
	color: $colorBg;
	padding: rem(8) rem(32);
	transition: all 0.3s ease 0s;
	background-color: $colorCalicio;
	// .button__negative
	&__negative {
		background-color: transparent;
		border: 1px solid $colorCalicio;
		color: $colorWhite;
	}
	@media (any-hover: hover) {
	}
}
.button-search {
	position: absolute;
	top: rem(16);
	right: rem(2);
	display: block;
	width: rem(16);
	height: rem(16);
	background: url("@img/search.svg") no-repeat center center / contain;
	transition: all 0.3s ease 0s;
	&:hover {
		transform: scale(1.1);
	}
}
