//<FORM>
// Снипет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
		background-color: transparent;
	}
	&__button {
	}
	&__error {
	}
}

.form {
	// .form__element
	&__element {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&_40 {
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}
	}
	// .form__flex-start
	&__flex-start {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: flex-start;
			gap: rem(32);
		}
	}
	// .form__textarea
	&__textarea {
		background: transparent;
		border: 1px solid #f5efdb;
		width: 100%;
		resize: vertical;
		min-height: rem(140);
		padding: rem(16);
		color: white;
		outline: none;
		transition: all 0.3s ease 0s;
		&::placeholder {
			@extend %ffcu;
			font-weight: 700;
		}
		&:focus {
			background: rgba(255, 255, 255, 0.107);
		}
	}
	&__input {
		transition: all 0.3s ease 0s;
		background: transparent;
		border: 1px solid #f5efdb;
		width: 100%;
		padding: rem(16);
		color: white;
		outline: none;
		&::placeholder {
			@extend %ffcu;
			font-weight: 700;
		}
		&:focus {
			background: rgba(255, 255, 255, 0.107);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(40);
			}
		}
	}
}

.form-book {
	&__lines {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 32, 12);
		justify-content: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 64, 24);
		}
	}
	&__input {
		position: relative;
		&::before {
			position: absolute;
			right: rem(16);
			top: rem(25);
			font-size: rem(10);
			transition: all 0.3s ease 0s;
		}
		&._form-focus {
			&::before {
				transform: rotate(-180deg);
			}
		}
		.form__error {
			color: red;
			font-size: rem(15);
			margin: 10px 0px 0px 0px;
			@media (min-width: $tablet) {
				position: absolute;
				bottom: -25px;
			}
		}
	}
	&__line {
		flex: 1 1 auto;
	}
	// .form-book__container
	&__container {
	}
	// .form-book__input
	&__input {
	}
	// .form-book__button
	&__button {
	}
}

.form-message {
	display: grid;
	gap: rem(32);
	.button {
		justify-self: start;
	}
}

.form-search {
	position: relative;
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
@import "datepicker";
