/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
/* псевдокласы состояния */
/* сылка без псевдоклассов */
/* ссылка с :hover */
/* ссылка с :active */
/* ссылка с :visited */
/* ссылка с :focus */
/* ссылка с :target меняем параграф */
/* селектор:псевдокласс::спевдоэлемент */
/* pointer-events: none; */
/* cursor: pointer */
/* ================================================================ */
/* псевдоклассы положения */
/* делаем два блока в первом только пораграфы 
 во тором divы и параграфы
 работаем с обоими */
/* попробуем покрасить  */
/* через :first-child */
/* первый p */
/* любой обект первый */
/* через :first-of-type */
/* первый p */
/* любой обект первый */
/* через :nth-child() */
/* первый p */
/* любой обект первый */
/* третий p */
/* третий любой */
/* покрасим нечетные  */
/* покрасим четные */
/* через :nth-of-type()  */
/* третий p */
/* покрасим нечетные  */
/* покрасим четные */
/* покрасим внутри все кроме первого и последнего :not() */
/* ================================================================ */
/* ::first-line */
/* поменяем при наведении цвет */
/* ::first-letter */
/* поменяем при наведении цвет */
/* ::before */
/* сделаем строкой */
/* сделаем блоком */
/* вставим img */
/* ::after */
/* сделаем строкой */
/* сделаем блоком */
/* вставим img */

.header ul,
.header li,
.logo {
	display: inline-block;
	margin: 10px 20px 10px 0px;
}
.header {
	background: rgb(90, 90, 90);
}
.div-header {
	max-width: 80%;
	margin: 0px auto;
}
.conteiner {
	
}