/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.header ul,
.header li,
.logo {
	display: inline-block;
	margin: 10px 20px 10px 0px;
}
.header {
	background: rgb(90, 90, 90);
}
.div-header {
	max-width: 80%;
	margin: 0px auto;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}
h1 {
	font-size: 36px;
	font-weight: 900;
	margin: 0px 0px 40px 0px;
}
h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 0px 0px 20px 0px;
}
main {
	padding: 2%;
}
ol {
	max-width: 1000px;
	margin: 0px auto;
}
.block {
	background-color: aqua;
	padding: 2%;
	border-radius: 20px;
	margin: 2% 2%;
	box-shadow: 0px 2px 3px #333;
}
.content {
	background-color: rgb(227, 232, 233);
	padding: 2%;
	border-radius: 6px;
}
.link-title {
	font-weight: 700;
	font-size: 20px;
	padding: 10px;
	background-color: rgb(150, 150, 150);
	border-radius: 20px;
	line-height: 1.51;
	display: block;
	margin: 0 10px 10px 0;
	text-align: center;
}
.conteiner ol li {
	display: inline-block;
}
.link {
	margin: 0px 0px 20px 0px;
	color: #333;
}
/* .paragraph {
} */

.link-h:hover {
	border-bottom: 3px solid rgb(0, 38, 255);
	color: blue;
}
.paragraph-h:hover {
	background-color: rgba(128, 255, 0, 0.5);
}
.link-a:active {
	color: red;
	border-bottom: 3px dotted red;
}
.paragraph-a:active {
	color: red;
	background-color: black;
}
.link-v:visited {
	color: rgb(199, 199, 199);
}
/* .paragraph-v:visited { */
/* } */
.link-f:focus {
	text-shadow: 0 0 6px #911;
	color: cornflowerblue;
}
.paragraph-f:focus {
	text-shadow: 0 0 6px #911;
	color: cornflowerblue;
}
.buttom {
	display: inline-block;
	background-color: chocolate;
	padding: 10px;
	border-radius: 10px;
	margin: 0px 10px 10px 0px;
	color: #fff;
}
.buttom:hover {
	box-shadow: 0 3px 0px #000;
	color: rgb(0, 255, 42);
}
.buttom:active {
	box-shadow: inset 0 0px 4px #000;
}
.link-t:target {
	text-shadow: 0 0 6px rgb(3, 3, 3);
	color: rgb(255, 255, 255);
}
.paragraph-t:target {
	text-shadow: 0 0 6px rgb(3, 3, 3);
	color: rgb(255, 255, 255);
}
#target-title-block:target {
	text-shadow: 0 0 6px rgb(3, 3, 3);
	color: rgb(255, 255, 255);
}
#target-title-block:target::before {
	content: "Я ТЕПЕРЬ СДЕСЬ ";
}

.conteiner {
	background-color: rgb(201, 201, 201);
	padding: 2%;
	border-radius: 20px;
	margin: 20px auto;
	max-width: 90%;
}
/* #first-child {
	display: none;
}
#first-child:target {
	display: block;
} */
.div-hidden {
	display: none;
}
.div-hidden:target {
	display: block;
}

[class*="exemple"] {
	margin: 0px 0px 30px 0px;
}
h3 {
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}
.bold {
	font-weight: 700;
}
.text {
	margin: 0px 0px 10px 0px;
}
.consol {
	font-family: monospace;
	background-color: rgb(219, 219, 219);
	margin: 0px 0px 10px 0px;
	padding: 6px;
	border-radius: 3px;
}
.content-p {
	background-color: rgb(243, 234, 114);
	padding: 1%;
	border-radius: 6px;
}
.conteiner-ex {
	max-width: 49%;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
}
.content-p p {
	margin: 0px 0px 2px 0px;
	padding: 2%;
	border-radius: 3px;
}
.content-div-p {
	background-color: rgb(114, 243, 146);
	padding: 1%;
	border-radius: 6px;
}
.content-div-p p,
.content-div-p div {
	margin: 0px 0px 2px 0px;
	padding: 2%;
	border-radius: 3px;
}
#first-child .exemple-1 .content-p p:first-child {
	background-color: rgb(165, 114, 91);
}
#first-child .exemple-1 .content-div-p p:first-child {
	background-color: rgb(165, 114, 91);
}
#first-child .exemple-2 .content-p *:first-child {
	background-color: rgb(165, 114, 91);
}
#first-child .exemple-2 .content-div-p *:first-child {
	background-color: rgb(165, 114, 91);
}
#first-child .exemple-3 .content-p > *:first-child {
	background-color: rgb(165, 114, 91);
}
#first-child .exemple-3 .content-div-p > *:first-child {
	background-color: rgb(165, 114, 91);
}
#first-of-type .exemple-1 .content-p p:first-of-type {
	background-color: rgb(165, 114, 91);
}
#first-of-type .exemple-1 .content-div-p p:first-of-type {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-1 .content-p p:last-child {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-1 .content-div-p p:last-child {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-2 .content-p *:last-child {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-2 .content-div-p *:last-child {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-3 .content-p > *:last-child {
	background-color: rgb(165, 114, 91);
}
#last-child .exemple-3 .content-div-p > *:last-child {
	background-color: rgb(165, 114, 91);
}
#last-of-type .exemple-1 .content-p p:last-of-type {
	background-color: rgb(165, 114, 91);
}
#last-of-type .exemple-1 .content-div-p p:last-of-type {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-1 .content-p p:nth-child(2),
#nth-child-2 .exemple-1 .content-p p:nth-child(3) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-1 .content-div-p p:nth-child(2),
#nth-child-2 .exemple-1 .content-div-p p:nth-child(3) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-2 .content-p *:nth-child(2),
#nth-child-2 .exemple-2 .content-p *:nth-child(3) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-2 .content-div-p *:nth-child(2),
#nth-child-2 .exemple-2 .content-div-p *:nth-child(3) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-3 .content-p > *:nth-child(2),
#nth-child-2 .exemple-3 .content-p > *:nth-child(3) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-3 .content-div-p > *:nth-child(2),
#nth-child-2 .exemple-3 .content-div-p > *:nth-child(3) {
	background-color: rgb(165, 114, 91);
}

#nth-child-2 .exemple-4 .content-p > *:nth-child(odd) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-4 .content-div-p > *:nth-child(odd) {
	background-color: rgb(165, 114, 91);
}

#nth-child-2 .exemple-5 .content-p > *:nth-child(even) {
	background-color: rgb(165, 114, 91);
}
#nth-child-2 .exemple-5 .content-div-p > *:nth-child(even) {
	background-color: rgb(165, 114, 91);
}
#nth-of-type .exemple-1 .content-p p:nth-of-type(2),
#nth-of-type .exemple-1 .content-p p:nth-of-type(3) {
	background-color: rgb(165, 114, 91);
}
#nth-of-type .exemple-1 .content-div-p p:nth-of-type(2),
#nth-of-type .exemple-1 .content-div-p p:nth-of-type(3) {
	background-color: rgb(165, 114, 91);
}
.conteiner-ex-1 {
	max-width: 68%;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
}
.conteiner-ex-2 {
	max-width: 30%;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
}
.conteiner-ex-all {
	max-width: 100%;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 5px;
}

#first-line .exemple-1 .content-p p::first-line {
	color: aqua;
}

#first-letter .exemple-1 .content-p p::first-letter {
	color: aqua;
}
#befor-after .exemple-1 .content-p p {
	background-color: rgba(117, 230, 13, 0.644);
}
#befor-after .exemple-1 .content-p p::before {
	content: "Я before!!! ";
	color: red;
	font-weight: 700;
	background-color: rgb(236, 165, 12);
}

#befor-after .exemple-1 .content-p p::after {
	content: " Я after!!! ";
	color: red;
	font-weight: 700;
	background-color: rgb(236, 165, 12);
}
#befor-after .exemple-2 .content-p p::before {
	content: "Я before блочный!!! ";
	background: rgb(236, 165, 12) url("../img/logo.png") top;
	min-height: 30px;
	display: block;
	color: rgb(0, 255, 21);
	font-weight: 700;
	text-align: center;
}

#befor-after .exemple-2 .content-p p::after {
	content: " Я after тоже блочный!!! ";
	background: rgb(236, 165, 12) url("../img/logo.png") bottom;
	min-height: 30px;
	display: block;
	color: rgb(0, 255, 21);
	font-weight: 700;
	text-align: center;
}
