/* Что делаем */
/* 
1. сделаю отступы через padding-top, padding-right padding-bottom 
padding-left в px
2. Через универсальный параметр
	2.1 padding: Xpx;
	2.2 padding: Xpx Xpx;
	2.2 padding: Xpx Xpx Xpx;
	2.2 padding: Xpx Xpx Xpx Xpx;
3. padding через процент %
4. padding со строчным сделаем.
5. Внешние отступы
	5.1 так же делаем с конкретными margin-top  и т.д.
	5.2 через универсальный
	5.3 отрицательный делаем
6. Паддин а внутри блок с мерджином
7. Ширина делаю 2 блока 1 блок вмещает контент 2 нет
	6.1 Конкретная ширина 
	6.2 относительная ширина max
	6.3 относительная ширина min
8.  Высота делаю 2 блока 1 блок вмещает контент 2 нет
	6.1 Конкретная высота 
	6.2 относительная Высота max
	6.3 относительная Высота min 
9. Выровним 
	7.1 по центру сделаем
	7.2 справа
10. Схлопывание мерджин.
11. сделаем для блока box-sizing:content-box; и padding
12. Сделаем with 100% и margin Увидим что марджин не работает
13. Oveflow
	13.0 visible
	13.1 hiden
	13.2 scroll
	13.3 auto
14. display
	14.1 делаем див строчным
	14.2 сделаем спан блочным
	14.3 несколько спанов блочными
	14.4 поэксперементировать с inline-block
15. Влияние паддинга на картинку

 */

/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@800;700&display=swap");

body {
	font-family: "Source Code Pro", monospace;
}
img {
	margin: 30px;
}

.link {
	color: orange;
	text-decoration: underline;
}
.span-bold {
	font-weight: 700;
}
.span-upper {
	text-transform: uppercase;
}

.title-main {
	font-size: 56px;
	font-weight: 700;
	width: 1100px;
	text-align: center;
	margin: 20px auto;
}
.menu {
	text-align: center;
}
.nav-li {
	display: inline-block;
}
.title-two {
	font-size: 45px;
	font-weight: 700;
	margin: 20px 0 20px 30px;
}
.footer {
	font-size: 16px;
}
.p-fo {
	margin: 40px auto;
	width: 40%;
	text-align: center;
}
/* 1 ================================================================ */
.padding-long-t {
	padding-top: 50px;
}
.padding-long-r {
	padding-right: 40px;
}
.padding-long-b {
	padding-bottom: 30px;
}
.padding-long-l {
	padding-left: 60px;
}
/* 2 ================================================================ */

.padding-un-1 {
	padding: 40px;
}
.padding-un-2 {
	padding: 40px 80px;
}
.padding-un-3 {
	padding: 40px 80px 120px;
}
.padding-un-4 {
	padding: 40px 80px 120px 160px;
}
/* 3 ================================================================ */
.padding-proc {
	padding: 2%;
}

/* 4 ================================================================ */

.img-block {
	display: block;
}

.span-inlain {
	padding: 20px;
}

/* 5 ================================================================ */
.margin-lang-t {
	margin-top: 80px;
}
.margin-lang-r {
	margin-right: 80px;
}
.margin-lang-b {
	margin-bottom: 80px;
}
.margin-lang-l {
	margin-left: 80px;
}

.maegin-un-1 {
	margin: 80px;
}
.maegin-un-2 {
	margin: 80px 160px;
}
.maegin-un-3 {
	margin: 80px 160px 90px;
}
.maegin-un-4 {
	margin: 80px 160px 90px 100px;
}

.conteiner-1 {
	width: 1200px;
	height: 300px;
	padding: 100px;
}
.margin-otr {
	margin: 0px -600px 0px 0px;
}
.margin-polozh {
	margin: 10px 0px 100px 0;
}
/* 6 ================================================================ */

.margin-padding {
	margin: 10px;
	padding: 40px;
}

/* 7 ================================================================ */
.width-400 {
	width: 400px;
}

.width-800 {
	width: 800px;
	margin: 0px 0px 40px 0px;
}

.max-width-1000 {
	max-width: 1000px;
	margin: 0px 0px 40px 0px;
}
.min-width-200 {
	min-width: 400px;
	margin: 0px 0px 40px 0px;
}

/* 8 ================================================================ */

.heigh-fix-29 {
	height: 29px;
	margin: 0px 0px 20px 0px;
}
.heigh-fix-200 {
	height: 200px;
	margin: 0 0 40px 0;
}
.div-heigh {
	height: 400px;
	margin: 0px 0px 40px 0px;
}
.heigh-proc {
	height: 10%;
}

.max-heigh-20 {
	max-height: 20px;
	margin: 0 0 20px 0;
}
.max-heigh-200 {
	max-height: 200px;
	margin: 0 0 40px 0;
}

.min-heigh-20 {
	min-height: 40px;
}
.min-heigh-200 {
	min-height: 200px;
}
/* 9 ================================================================ */
.allign-centr {
	width: 400px;
	margin: 0 auto 10px auto;
}
.allign-righ {
	width: 400px;
	margin: 0 80px 10px auto;
}

/* 10 ================================================================ */
.hlop1 {
	margin: 0 0 10px 0;
}
.hlop2 {
	margin: 20px 0px;
}
/* 11 ================================================================ */
.bz-cb {
	box-sizing: content-box;
	width: 500px;
	padding: 10px 40px;
	margin: 0px 0px 40px 0px;
}
/* 12 ================================================================ */
/* width: 100% + margin слева не уходяьт за границы!!!  а справа уходят. */
.widt-and-marg {
	width: 100%;
	margin: 40px;
}
/* 13 ================================================================ */
.overflow-v {
	height: 100px;
	width: 200px;
	margin: 0 auto 10px 0;
	overflow: visible;
}
.overflow-h {
	height: 100px;
	width: 200px;
	margin: 0 auto 10px 200px;
	overflow: hidden;
}
/* В планшетном режиме scoll низу не появляется */
.overflow-sc {
	height: 100px;
	width: 255px;
	margin: 0 auto 10px 400px;
	overflow: scroll;
}
.overflow-au {
	height: 100px;
	width: 255px;
	margin: 0 auto 10px 600px;
	overflow: auto;
}

/* 14 ================================================================ */
.display-in {
	display: inline;
}
.display-block {
	display: block;
	margin: 40px;
}
.display-in-bl {
	display: inline-block;
	width: 200px;
	text-align: center;
	margin: 0 0 10px 0;
}
/* 15 ================================================================ */
/* о хоспади ну естественно */
.img-padding {
	padding: 40px;
}
