/* &display=swap */

@import "null";

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ================================================================ */
$color-base: #ffffff;
$color-second: #34c759;

/*  ================================================================ */

@mixin ibg($fit: cover, $position: center) {
	position: relative;
	img {
		object-fit: $fit;
		object-position: $position;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueBoldCondensed.eot");
	src: local("../fonts/Helvetica Neue Condensed Bold"), local("../fonts/HelveticaNeueBoldCondensed"),
		url("../fonts/HelveticaNeueBoldCondensed.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"),
		url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff"),
		url("../fonts/HelveticaNeueBoldCondensed.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueBlackCondensed.eot");
	src: local("../fonts/Helvetica Neue Condensed Black"), local("../fonts/HelveticaNeueBlackCondensed"),
		url("../fonts/HelveticaNeueBlackCondensed.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"),
		url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff"),
		url("../fonts/HelveticaNeueBlackCondensed.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Roman.eot");
	src: local("../fonts/HelveticaNeueCyr-Roman"),
		url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/elveticaNeueCyr-Light.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeueCyr-Roman.eot");
	src: local("../fonts/HelveticaNeueCyr-Roman"),
		url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
		url("../fonts/elveticaNeueCyr-Roman.woff2") format("woff2"),
		url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

body {
	font-family: "Helvetica Neue", serif;
	background: #1a1a1a;
	color: $color-base;
}

.header {
	z-index: 2;
	// .header__container
	position: absolute;
	width: 100%;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__logo
	&__logo {
	}

	// .header__menu
	&__menu {
	}
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);

	@media (max-width: 561px) {
		.menu {
		}
		.menu__list {
			display: block;
			position: fixed;
			background-color: #191919e1;
			padding: 40px;
			top: 0px;
			left: 0px;
			width: 100%;
			text-align: center;
			transform: translate(-100%, 0px);
			transition: all 0.3s ease;
			&:target {
				transform: translate(0px, 0px);
			}
		}

		.menu__item {
			font-size: 72px;
		}
		.menu__burger {
			display: block;
			transform: translate(0px, 17px);
		}
		&__container {
			// display: block;
		}
		&__menu {
			margin-bottom: 33px;
		}
	}
}

.main {
	flex: 1 1 auto;
	// .main__order

	&__order {
	}
	&__item {
		&:hover {
			.title__backgroun {
				color: #4e4e4e;
			}
			.title__body::after {
				width: 100%;
			}
		}
	}
}

.footer {
	height: 275px;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.menu {
	&__burger {
		display: none;
		position: relative;
		width: 30px;
		height: 25px;

		div {
			width: 30px;
			height: 5px;
			background: $color-base;
			transform: translate(0px, 200%);
			// position: relative;

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				// position: absolute;
				transform: translate(0px, -200%);
				background: $color-base;
			}
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				// position: absolute;
				transform: translate(0px, 100%);
				background: $color-base;
			}
		}
		&:hover {
			div,
			::before,
			::after {
				background: $color-second;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		gap: 45px;
		justify-content: center;
		@media (max-width: 360px) {
			gap: 12px;
			justify-content: space-around;
		}
	}

	// .menu__item
	&__item {
		font: {
			weight: 700;
			size: 14px;
		}
		&:not(:last-child) {
		}
		color: $color-base;
		transition: color 0.2s ease;
	}
	&__link {
		color: $color-base;
		&:hover {
			color: $color-second;
		}
	}
}
.logo {
	padding: 33px 0px;
	max-width: 207px;
	img {
		width: 100%;
		max-height: 91px;
	}
}

.order {
	// .order__img
	position: relative;

	// .main__order

	&__order {
	}
	&__img {
		@include ibg();
		position: absolute;
		width: 100%;
		height: 100%;
	}

	// .order__container
	&__container {
		position: relative;
		padding-top: 171px;
		padding-bottom: 401px;
	}

	// .order__title
	&__title {
		font-weight: 300;
		font-size: 72px;
		line-height: 1.16;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
		@media (max-width: 767.98px) {
			font-size: 48px;
		}
		@media (max-width: 467px) {
			font-size: 36px;
		}
	}

	// .order__text
	&__text {
		max-width: 53%;
		margin: 0px auto;
		font-size: 16px;
		line-height: 1.62;
		text-align: center;
		letter-spacing: -0.2px;
		// color: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.7;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 767.98px) {
			max-width: 80%;
		}
	}

	// .order__button
	&__button {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}

	// .order__conact
	&__conact {
		&:not(:last-child) {
			margin-bottom: 70px;
		}
	}
}
.bold {
	font-weight: bold;
	letter-spacing: 0.2em;
}
.uppercase {
	text-transform: uppercase;
}
.button {
	cursor: pointer;
	font-weight: 900;
	font-size: 10px;
	// line-height: 4;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 30px;
	display: inline-block;
	padding: 13px 32px;
	background: rgba(0, 0, 0, 0.26);
	transition: all 0.2s ease-out;
	&:hover {
		background: #34c759;
		color: rgb(0, 0, 0);
	}
	&_big {
		font-weight: 700;
		font-size: 18px;
		line-height: 1.22;
		padding: 25px 58px;
		border-radius: 43px;
		text-transform: capitalize;
		@media (max-width: 767.98px) {
			padding: 16px 32px;
			border-radius: 35px;
			font-size: 16px;
		}
	}
}
.contact {
	display: flex;
	justify-content: space-around;
	gap: 12px;

	// .contact__item
	&__item {
		flex: 0 1 22.07%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// gap: 16px;
		transition: all 0.3s ease;
		&:hover {
			transform: scale(1.1);
			border: 1px solid #1a1a1a;
			background: rgba(0, 0, 0, 0.197);
			border-radius: 6px;
		}
	}

	// .contact__icon
	&__icon {
		flex: 0 0 20px;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .contact__primari-text
	&__primari-text {
		text-align: center;
		font-size: 16px;
		flex: 1 1 auto;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	// .contact__secondary-text
	&__secondary-text {
		text-align: center;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.5);
	}
	@media (max-width: 468px) {
		flex-wrap: wrap;
		&__item {
			flex: 1 1 auto;
			min-width: 95px;
		}
	}
}
.title {
	padding-top: 61px;
	padding-bottom: 59px;
	&__body {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0px;
			transform: translate(-50%);
			width: 60px;
			height: 2px;
			background-color: $color-second;
			transition: all 0.3s ease;
		}
	}
	// .title__backgroun
	&__backgroun {
		font-weight: 900;
		font-size: 100px;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		transition: all 0.3s ease;
	}

	// .title__main
	&__main {
		font-weight: 400;
		font-size: 36px;
		line-height: 2.5;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #d9d9d9;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media (max-width: 767.98px) {
		padding-top: (61px/3);
		padding-bottom: (29px/3);
		&__backgroun {
			font-size: 72px;
		}
		&__main {
			font-size: 18px;
		}
	}
	@media (max-width: 425px) {
		&__backgroun {
			font-size: 36px;
		}
	}
}
.how-it-works {
	padding-bottom: 30px;
	&__title {
		// &:not(:last-child) {
		// 	margin-bottom: 30px;
		// }
	}
	// .how-it-works__cards

	&__cards {
	}
}
.cards-work {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	// .cards-work__card
	&__card {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		transition: all 0.3s ease;
		padding: 24px;
		flex: 1 1 22.97%;
		&:hover {
			background: #34c759;
			.cards-work__title {
				color: #191919;
				&::after {
					background-color: #191919;
				}
			}
			.cards-work__text {
				color: #191919;
			}
		}
	}

	// .cards-work__title

	&__title {
		font-size: 22px;
		line-height: 1.18;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: $color-base;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 42px;
		}
		&::after {
			content: "";
			width: 56px;
			height: 2px;
			background-color: $color-second;
			position: absolute;
			left: 0px;
			bottom: -19px;
		}
	}

	// .cards-work__text

	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
	@media (max-width: 767.98px) {
		flex-wrap: wrap;
		&__card {
			flex: 1 1 45%;
		}
	}
}
.main {
	// .main__dishes

	&__dishes {
	}
}
.dishes {
	padding-bottom: 30px;
	// .dishes__container

	&__container {
	}

	// .dishes__title

	&__title {
	}

	// .dishes__cards

	&__cards {
	}
}
.cards-dishes {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	justify-content: center;
	margin: 0px -15px;

	&__img {
		position: relative;
		display: block;
		cursor: pointer;
		padding-bottom: 74.29%;
		overflow: hidden;
		img {
			transition: all 0.3s ease;
			object-fit: cover;
			object-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		&::before {
			content: "";
			width: 40px;
			height: 40px;
			position: absolute;
			top: 24px;
			right: 24px;
			background: url("../img/cards-dishes/icon.svg") no-repeat center center;
			z-index: 2;
			opacity: 0.3;
			transition: all 0.3s ease;
			&:hover {
				opacity: 0.9;
			}
		}
	}

	// .cards-dishes__body

	&__body {
		padding: 29px 30px 24px 30px;
		background: #252525;
	}

	// .cards-dishes__title

	&__title {
		font-size: 32px;
		line-height: 0.94;
		color: #d9d9d9;
	}

	// .cards-dishes__sutitle

	&__sutitle {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: #a4a8b2;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .cards-dishes__text

	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878c;
		max-height: 54px;
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .cards-dishes__footer

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}

	// .cards-dishes__reiting

	&__reiting {
		display: flex;
		align-items: center;
		gap: 14px;
	}

	// .cards-dishes__stars

	&__stars {
		display: flex;
		column-gap: 5px;
	}

	// .cards-dishes__review

	&__review {
		font-weight: 900;
		font-size: 12px;
		line-height: 2.5;
		/* identical to box height, or 250% */

		letter-spacing: 1.5px;

		color: #b3b3b3;
	}

	// .cards-dishes__button

	&__button {
	}
	&__star {
	}
	&__star_dis {
	}
	&__star_active {
		display: none;
	}
	&__card {
		flex: 0 1 33.333%;
		padding: 0px 15px;
		// min-width: 334px;

		// flex: 1 1 31.5%;
		&:hover {
			.cards-dishes__star {
				&_dis {
					display: none;
				}
				&_active {
					display: block;
				}
			}
			.button {
				background: #34c759;
				color: rgb(0, 0, 0);
			}
			.cards-dishes__img {
				img {
					transform: scale(1.1);
				}
				&::before {
					opacity: 0.6;
				}
			}
		}

		@media (max-width: 1110.98px) {
			.cards-dishes__body {
				padding: 15px;
			}
			@media (max-width: 1015px) {
				flex: 0 1 50%;
			}
		}
		@media (max-width: 678px) {
			.cards-dishes__footer {
				flex-wrap: wrap;
				justify-content: center;
			}
		}
		@media (max-width: 437px) {
			flex: 1 1 auto;
		}
	}
}
.main {
	// .main__recipes

	&__recipes {
	}
}
.food {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	font-weight: 900;
	font-size: 10px;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 0 15.5px;
}
.statistic {
	// .statistic__view
	display: flex;
	gap: 10px;
	justify-content: space-between;
	font-weight: 700;
	font-size: 12px;
	line-height: 2.5;

	color: #d8d8d8;
	&__view {
		padding-left: 35px;
		background: url("../img/statistic/ic_remove_white.svg") no-repeat left;
	}

	&__comments {
		padding-left: 35px;
		background: url("../img/statistic/ic_question_answer_white.svg") no-repeat left;
	}
}
.recipes {
	padding-bottom: 30px;

	// .recipes__container

	&__container {
	}

	// .recipes__title

	&__title {
	}

	// .recipes__cards

	&__row {
		display: flex;
		margin: 0px -15px;
		row-gap: 30px;
		@media (max-width: 629px) {
			flex-wrap: wrap;
		}
	}

	// .recipes__big-card

	&__item {
		padding: 0px 15px;
		flex: 1 1 auto;
	}
	&__card {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}
.card-recipes {
	overflow: hidden;

	cursor: pointer;
	position: relative;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	padding: 30px;
	padding-bottom: 20px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	transition: all 0.3s ease;
	// .card-recipes_big

	&_big {
		height: 100%;
		align-items: center;
		justify-content: space-around;
		&::before {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			background: url("../img/card-recip—És/Icon.svg") no-repeat center center, rgba(0, 0, 0, 0.3);
			border-radius: 50%;
			position: absolute;
			top: 30px;
			right: 30px;
			z-index: 2;
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;

		img {
			object-fit: cover;
			object-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transition: all 0.3s ease;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.601);
			transition: all 0.3s ease;
		}
	}

	// .card-recipes__date

	&__date {
		position: relative;
		font-size: 14px;
		line-height: 2.14;
		color: #ffffff;

		// .card-recipes__date_little
		&_little {
			font-size: 12px;
			line-height: 2.08;
			color: #b3b3b3;
		}
	}

	// .card-recipes__text

	&__text {
		position: relative;
		font-size: 16px;
		line-height: 1.88;
		color: #ffffff;
		// .card-recipes__text_big
		&_big {
			max-width: 66%;
			font-size: 24px;
			line-height: 1.67;
			text-align: center;
			@media (max-width: 425px) {
				font-size: 14px;
				line-height: 2.14;
			}
		}
	}

	// .card-recipes__autor

	&__autor {
		position: relative;
		font-size: 14px;
		line-height: 2.14;
		color: #ffffff;
	}
	.card-recipes__food {
		position: relative;
	}

	// .card-recipes__statistic

	&__statistic {
		position: relative;
		min-width: 139px;
		@media (max-width: 767px) {
			min-width: 0;
		}
	}

	// .card-recipes__footer

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	// .card-recipes__description

	&__description {
		min-width: 147px;
		@media (max-width: 767px) {
			min-width: 0;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}
	&:hover {
		background: #34c759;
		.card-recipes__text {
			color: #252525;
		}
		.card-recipes__date {
			color: #252525;
		}
		.food {
			background: rgba(0, 0, 0, 0.9);
		}
		.statistic {
			color: #252525;
			&__view {
				background: url("../img/statistic/ic_remove_black.svg") no-repeat left;
			}

			&__comments {
				background: url("../img/statistic/ic_question_answer_black.svg") no-repeat left;
			}
		}
		.card-recipes__img {
			img {
				transform: scale(1.1);
			}
			&::after {
				background: rgba(0, 0, 0, 0.276);
			}
		}
	}
	&_img {
		&:hover {
			.card-recipes__text {
				color: #fff;
			}
			.card-recipes__date {
				color: #fff;
			}
			.food {
				background: rgba(0, 0, 0, 0.9);
			}
			.statistic {
				color: #fff;
				&__view {
					background: url("../img/statistic/ic_remove_white.svg") no-repeat left;
				}

				&__comments {
					background: url("../img/statistic/ic_question_answer_white.svg") no-repeat left;
				}
			}
		}
	}
}
