.header__top {
  background: #020202;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 994px) {
  .header__time-job {
    left: 80px;
  }
}

.header__addres {
  color: #acacac;
}

@media (max-width: 994px) {
  .header__addres {
    font-size: 0px;
  }
}

.header__link {
  position: relative;
}

@media (max-width: 994px) {
  .header__link {
    font-size: 12px;
  }
}

.header__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.header__text {
  color: #ffffff;
}

.time-job {
  position: relative;
}

.time-job__short {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-job__short::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/time-job/icon-arrow.svg") no-repeat center center;
}

.time-job__text {
  color: #a2a6b0;
}

.time-job__shop-info {
  position: absolute;
  top: 30px;
  min-width: 265px;
  display: none;
}

.time-job:hover .time-job__shop-info {
  display: block;
}

.shop-info {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

.shop-info__item {
  padding: 15px 0px 15px 28px;
  border: 1px solid #cacdd8;
}

.shop-info__item_time {
  padding-left: 50px;
  background: url("../img/shop-info/bx_bx-time.svg") no-repeat left 8px top 14px;
}

.shop-info__item_location {
  padding-left: 50px;
  background: url("../img/shop-info/bx_bx-map.svg") no-repeat left 10px top 14px;
}

.shop-info__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
}

.shop-info__text_font-size_12 {
  font-size: 12px;
}

.shop-info__text_week {
  font-weight: 600;
  color: #a2a6b0;
}

.shop-info__text_color_black {
  color: #000000;
}

.shop-info__text_color_blue {
  color: #0156ff;
}

.navigation {
  position: relative;
}

.navigation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navigation__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.navigation__logo:not(:last-child) {
  margin-right: 20px;
}

.navigation__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navigation__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.menu li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.menu__button {
  white-space: nowrap;
}

.button {
  display: inline-block;
  border: 2px solid #0156ff;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #0156ff;
  padding: 10px 26px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  background: #0156ff;
  color: #ffffff;
}

.form__search {
  background: #f5f7ff;
  border-radius: 31px;
  padding: 20px 30px;
  display: none;
  outline: none;
}

.form__search:active {
  background: #e9edff;
}

.form__label_cancel {
  display: none;
}

.form:hover {
  position: relative;
}

.form:hover .form__search {
  display: block;
  position: absolute;
  top: -10px;
  left: -1163px;
  width: 1154px;
}

.form:hover .form__label_sub {
  display: block;
  position: absolute;
  -webkit-transform: translate(-53px, 10px);
      -ms-transform: translate(-53px, 10px);
          transform: translate(-53px, 10px);
}

.form:hover .form__label_cancel {
  display: block;
}

.sipping-card {
  position: relative;
}

.sipping-card__number {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-weight: 700;
  font-size: 10px;
  line-height: 1.5;
  color: #ffffff;
  background: #0156ff;
  border-radius: 50%;
  padding: 0px 5px;
}

.profile__img {
  position: relative;
  padding: 18px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

@media (max-width: 994px) {
  .navigation__logo {
    position: absolute;
    top: -36px;
    left: 31px;
    background: #0156ff;
    border-radius: 50% 50% 0 0;
    padding: 23px;
  }
  .navigation__logo img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .navigation {
    background: #0156ff;
  }
}

.white {
  color: #ffffff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

*/
