//====================================================================================================
.header {
	// .header__top

	&__top {
		background: #020202;
		font-weight: 600;
		font-size: 12px;
		line-height: 18px;
		padding: 8px 0px;
	}

	// .header__container

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		align-items: center;
	}

	// .header__time-job

	&__time-job {
		@media (max-width: 994px) {
			left: 80px;
		}
	}

	// .header__addres

	&__addres {
		color: #acacac;

		@media (max-width: 994px) {
			font-size: 0px;
		}
	}

	// .header__link

	&__link {
		position: relative;
		@media (max-width: 994px) {
			font-size: 12px;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -5px;
			left: 0px;
			width: 100%;
			height: 2px;
			background-color: #ffffff;
		}
	}

	// .header__contact

	&__contact {
		display: flex;
		gap: 14px;
		align-items: center;
		display: none;
	}

	// .header__text

	&__text {
		color: #ffffff;
	}

	// .header__phone

	&__phone {
	}

	// .header__social

	&__social {
	}
}
.time-job {
	position: relative;

	// .time-job__short

	&__short {
		position: relative;
		display: flex;
		align-items: center;
		&::after {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			background: url("../img/time-job/icon-arrow.svg") no-repeat center center;
		}
	}

	// .time-job__text

	&__text {
		color: #a2a6b0;
	}

	// .time-job__shop-info

	&__shop-info {
		position: absolute;
		top: 30px;
		min-width: 265px;
		display: none;
	}
	&:hover {
		.time-job__shop-info {
			display: block;
		}
	}
}

.shop-info {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);

	//.shop-info__item

	&__item {
		padding: 15px 0px 15px 28px;
		border: 1px solid #cacdd8;

		// .shop-info__item_time

		&_time {
			padding-left: 50px;
			background: url("../img/shop-info/bx_bx-time.svg") no-repeat left 8px top 14px;
		}

		// .shop-info__item_location

		&_location {
			padding-left: 50px;
			background: url("../img/shop-info/bx_bx-map.svg") no-repeat left 10px top 14px;
		}
	}

	// .shop-info__text

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 1.4;
		color: #000000;

		// .shop-info__text_font-size_12

		&_font-size_12 {
			font-size: 12px;
		}

		// .shop-info__text_week

		&_week {
			font-weight: 600;
			color: #a2a6b0;
		}

		// .shop-info__text_color_black

		&_color_black {
			color: #000000;
		}

		// .shop-info__text_color_blue

		&_color_blue {
			color: #0156ff;
		}
	}
}

.header {
	// .header__navigation

	&__navigation {
	}
}
.navigation {
	position: relative;

	// .navigation__container

	&__container {
	}

	// .navigation__row

	&__row {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	// .navigation__logo

	&__logo {
		flex: 0 0 auto;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	// .navigation__menu

	&__menu {
		flex: 1 1 auto;
	}

	// .navigation__cell

	&__cell {
		display: flex;
		gap: 25px;
		align-items: center;
	}

	// .navigation__form

	&__form {
	}

	// .navigation__sipping-card

	&__sipping-card {
	}

	// .navigation__profile

	&__profile {
	}
}
.logo {
}

.menu {
	display: flex;
	align-items: center;
	gap: 25px;

	//menu li

	li {
		&:hover {
			transform: scale(1.1);
		}
	}

	// .menu__link

	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 1.5;
		color: #000000;
	}

	// .menu__button

	&__button {
		white-space: nowrap;
	}
}
.button {
	display: inline-block;
	border: 2px solid #0156ff;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	color: #0156ff;
	padding: 10px 26px;
	text-align: center;
	transition: all 0.2s ease;
	&:hover {
		background: #0156ff;
		color: #ffffff;
	}
}
.form {
	// .form__search

	&__search {
		background: #f5f7ff;
		border-radius: 31px;
		padding: 20px 30px;

		display: none;

		outline: none;

		&:active {
			background: #e9edff;
		}
	}

	// .form__label

	&__label {
		//form__label_sub

		&_sub {
		}

		// .form__label_cancel

		&_cancel {
			display: none;
		}
	}
	&:hover {
		position: relative;
		.form__search {
			display: block;
			position: absolute;
			top: -10px;
			left: -1163px;
			width: 1154px;
		}

		.form__label {
			//form__label_sub
			&_sub {
				display: block;
				position: absolute;
				transform: translate(-53px, 10px);
			}

			// .form__label_cancel

			&_cancel {
				display: block;
			}
		}
	}
}
.sipping-card {
	position: relative;

	// .sipping-card__img

	&__img {
	}

	// .sipping-card__number

	&__number {
		position: absolute;
		top: 0px;
		right: 0px;
		transform: translate(50%, -50%);
		font-weight: 700;
		font-size: 10px;
		line-height: 1.5;

		color: #ffffff;
		background: #0156ff;
		border-radius: 50%;
		padding: 0px 5px;
	}
}
.profile {
	// .profile__img

	&__img {
		position: relative;
		padding: 18px;
		border-radius: 50%;
		overflow: hidden;
		img {
			object-fit: cover;
			object-position: center;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}
}
@media (max-width: 994px) {
	.navigation__logo {
		position: absolute;
		top: -36px;
		left: 31px;
		background: #0156ff;
		border-radius: 50% 50% 0 0;
		padding: 23px;
		img {
			object-fit: cover;
			object-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
		}
	}
	.navigation {
		background: #0156ff;
	}
}

.white {
	color: #ffffff;
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

*/
