//====================================================================================================
.header {
	// .header__job-time

	&__job-time {
	}
}
.job-time {
	// .job-time__short

	&__short {
	}

	// .job-time__info

	&__info {
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		/* Shadow 1 */

		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
	}

	// .job-time__open

	&__open {
		padding-left: 50px;
		background: url("../img/job-time/bx_bx-time.svg") no-repeat;
	}

	// .job-time__text

	&__text {
		font-size: 12px;
		line-height: 1.4;
	}

	// .job-time__time

	&__time {
	}
	&__grey {
	}
}
.grey {
}
.bold {
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
