@import "libs/swiper.scss";
@import "base/swiper.scss";
@import "null";
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
.page {
    // .page__container
    &__container {
    }
    // .page__titile
    &__titile {
        font-size: rem(46);
        &:not(:last-child) {
            margin-bottom: rem(26);
        }
    }
    // .page__slider
    &__slider {
    }
    // .page__wrapper
    &__wrapper {
        &:not(:last-child) {
            margin: 0px 0px 10px 0px;
        }
    }
    // .page__slide
    &__slide {
        padding: rem(0) rem(10) rem(0) rem(10);
    }
    // .page__image-ibg
    &__image-ibg {
        min-height: 300px;
        &:not(:last-child) {
            margin-bottom: rem(26);
        }
    }
    // .page__text
    &__text {
    }
}
.swiper {
    // width: 600px;
    // height: 300px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination {
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper-scrollbar {
}
