// &display=swap
@import "null";

/* ================================================================ */
%wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* ================================================================ */
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap);

$color-black: #1e212c;

.single-post {
    @extend %wrapper;
    font-family: Lato, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #424551;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    &__container {
        max-width: 1250px;
        width: 100%;
        padding: 0 10px;
        margin: 0px auto;
    }
    &__header {
        margin: 20px auto 80px;
    }
    &__main {
        flex: 1 1 auto;
    }
    &__footer {
    }
    &__container-post {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 120px;
    }
    &__post {
        max-width: 810px;
        margin-right: 10px;
    }

    &__sidebar {
        max-width: 342px;
    }
    &__subscribe-newsletter {
        margin-bottom: 135px;
    }
    &__our-blog {
        margin-bottom: 180px;
    }
}
.navigation-bar {
    font-weight: bold;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 60px;
    }

    &__navigation {
        margin-right: 36px;
        flex: 1 1 auto;
    }

    &__list {
        display: flex;
        align-items: flex-start;
    }
    &__item {
        white-space: nowrap;
        &:not(:last-child) {
            margin-right: 40px;
        }
        &_red {
            color: #ff3f3a;
        }
    }

    &__button {
        margin-right: 36px;
    }

    &__link-log {
    }
}
.logo {
    display: flex;
    align-items: center;
    & img {
        margin-right: 3px;
    }
}
.button {
    display: inline-block;
    white-space: nowrap;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    padding: 0 40px;
    color: #ffffff;
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    line-height: 3.25;
    letter-spacing: 0.5px;
}
.login-link {
    display: flex;
    align-items: center;
    &__img {
        margin-right: 9.67px;
    }

    &__text {
        white-space: nowrap;
    }
}
.type {
    display: flex;
    align-items: center;
    &__icon {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

    &__content:not(:last-child) {
        margin-right: 12px;
    }

    &__subsection::before {
        content: "";
        display: inline-block;
        width: 1px;
        border-radius: 1px;
        height: 16px;
        background: #787a80;
        position: relative;
        top: 2px;
        margin-right: 12px;
    }
    &__subsection {
        font-weight: bold;
        color: #ff3f3a;
    }
}
.social {
    display: flex;
    align-items: center;
    & *:not(:last-child) {
        margin-right: 12px;
    }
    &__text {
        font-weight: bold;
        color: $color-black;
    }

    &__icon {
        width: 20px;
        height: 20px;
        text-align: center;
    }
    &__icon:hover svg path {
        fill: #f75e05;
    }
}
.tags {
    display: flex;
    align-items: center;

    & *:not(:last-child) {
        margin-right: 12px;
    }
    &_wrap {
        flex-wrap: wrap;
        & * {
            margin-bottom: 12px;
        }
    }

    &__text {
        font-weight: bold;
        color: $color-black;
    }

    &__button {
        display: inline-block;
        border: 1px solid #d7dadd;
        border-radius: 4px;
        padding: 6px 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        color: #787a80;
        white-space: nowrap;
        cursor: default;
    }
    &__button:hover {
        border: 1px solid #ff3f3a;
        background-color: #ff3f3a;
        color: #ffffff;
    }
}
.meta {
    display: flex;
    color: #787a80;

    &__date-create {
        background: url("../img/article/meta/calendar.svg") left no-repeat;
        padding-left: 24px;
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__time-study {
        background: url("../img/article/meta/clock.svg") left no-repeat;
        padding-left: 24px;
        &:not(:last-child) {
            margin-right: 24px;
        }
    }
}
.post {
    &__header {
        margin-bottom: 40px;
    }
    &__main {
        margin-bottom: 62px;
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    &__type {
        margin-bottom: 12px;
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 1.3;
        color: $color-black;
        margin-bottom: 26px;
    }

    &__subtitle {
        display: flex;
        justify-content: space-between;
    }

    &__socials {
    }
    &__img:not(:last-child) {
        margin-bottom: 60px;
    }

    &__paragraph {
        margin-bottom: 24px;
        &_bold {
            font-weight: bold;
            font-size: 20px;
            line-height: 1.5;
            color: $color-black;
        }
    }
    &__meta {
    }
    &__quotation {
        margin: 48px 0px;
        padding-left: 58px;
        background: url("../img/article/rectangle.svg") no-repeat, url("../img/article/rectangle.svg") 18px 0 no-repeat;
    }

    &__list {
        margin-bottom: 24px;
    }

    &__item {
        margin-bottom: 4px;
        padding-left: 32px;
        background: url("../img/article/list.svg") 0 5px no-repeat;
    }
    &__footer {
        // margin-top: 62px;
        display: flex;
        justify-content: space-between;
    }

    &__tags {
    }
}

.search {
    & form {
        background: #ffffff;
        border: 1px solid #d7dadd;
        border-radius: 4px;
        position: relative;
    }
    & input {
        font-size: 14px;
        line-height: 1.5;
        color: #9a9ca5;
        padding-left: 16px;
        min-height: 44px;
    }
    & button {
        height: 44px;
        width: 44px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background: transparent url("../img/search.svg") center no-repeat;
    }
    & button::before {
        content: "";
    }
}
.saidbar {
    & > *:not(:last-child) {
        margin-bottom: 60px;
    }
    &__search {
        width: 100%;
    }

    &__section {
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-black;
        margin-bottom: 24px;
    }

    &__content {
        display: flex;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__img {
        margin-right: 20px;
        border-radius: 4px;
    }

    &__author {
        line-height: 1.5;
    }

    &__name {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 4px;
    }

    &__position {
        font-size: 14px;
        color: #787a80;
        margin-bottom: 20px;
    }

    &__social {
    }

    &__article {
    }

    &__meta {
        margin-bottom: 4px;
    }

    &__theme {
        font-weight: bold;
        color: $color-black;
    }
    &__theme:hover {
        color: #ff3f3a;
    }
}

.subscribe-newsletter {
    background: #f4f5f7;
    &__conteiner {
        max-width: 1287px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: -21px;
    }
    &__content {
        max-width: 600px;
        position: relative;
        top: -9px;
    }
    &__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: &$color-black;
        margin-bottom: 48px;
    }
    &__form {
    }
    &__inpu-button {
        display: flex;
        margin-bottom: 20px;
    }

    &__input {
        flex: 1 1 auto;
        margin-right: 24px;
        padding-left: 16px;
    }

    &__button {
        // height: 53px;
    }

    &__checkbox-conteiner {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        margin-right: 12px;
    }

    &__text-agree {
    }
}
.our-blog {
    &__title {
        margin-bottom: -30px;
    }

    &__control-slider {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 34px;
    }

    &__container {
        display: flex;
        margin-bottom: 78.6px;
    }

    &__item {
        min-width: 390px;
        margin-right: 30px;
    }

    &__go-to-blog {
        margin-bottom: 180px;
    }
}
.title-block {
    color: $color-black;
    &__subtitle {
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__title {
        font-weight: 900;
        font-size: 46px;
        line-height: 1.3;
    }
}
.control-slider {
    &__item {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        & svg {
            position: absolute;
            top: 12px;
            left: 12px;
        }
        &:hover {
            & svg path {
                fill: #ffffff;
            }
            background-color: #ff3f3a;
        }
    }
}
.block-blog {
    position: relative;
    &__badge {
        position: absolute;
        top: 12px;
        left: 12px;
    }

    &__container {
    }

    &__img {
        margin-bottom: 21.69px;
    }

    &__meta {
        margin-bottom: 8px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        color: $color-black;
        margin-bottom: 8px;
    }

    &__text {
        max-height: 52px;
        margin-bottom: 6px;
    }

    &__more {
        font-weight: 700;
        color: $color-black;
        vertical-align: middle;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 12px;
            background: url("../img/icon/more.svg") right no-repeat;
        }
    }
}
.badge {
    padding: 1px 8px;
    background: #ffffff;
    border-radius: 4px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        margin-right: 6px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.5;
    }
}
.meta-blog {
    font-size: 14px;
    line-height: 1.5;
    &__container {
        display: flex;
    }

    &__theme {
        margin-right: 12px;
    }

    &__calendar {
        margin-right: 12px;
        background: url("../img/icon/time & dat/Calendar-grey.svg") 12px no-repeat;
        &::before {
            content: "";
            display: inline-block;
            height: 12px;
            width: 1px;
            background-color: #787a80;
            border-radius: 1px;
            margin-right: 36px;
        }
    }

    &__time {
        background: url("../img/icon/time & dat/Clock-gray.svg") 12px no-repeat;
        &::before {
            content: "";
            display: inline-block;
            height: 12px;
            width: 1px;
            background-color: #787a80;
            border-radius: 1px;
            margin-right: 36px;
        }
    }
}
.go-to-blog {
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        margin-right: 40px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.5;
    }

    &__link {
    }
}

.single-post {
    &__footer {
    }
}
.footer {
    background: #1e212c;
    color: #ffffff;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1250px;
        width: 100%;
        padding: 0 10px;
        margin: 0px auto;
        padding: 80px 0 60px 0;
    }

    &__block {
        margin-right: 10px;
    }

    &__title {
        margin-bottom: 24px;
        &_margin_12 {
            margin-bottom: 12px;
        }
    }

    &__content {
    }

    &__text {
        opacity: 0.6;
        max-width: 280px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 38px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        max-width: 244px;
        & a {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }

    &__list {
        li {
            margin-bottom: 8px;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }

    &__form {
        position: relative;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        width: 100%;
        padding: 4px 12px;
        margin-bottom: 12px;
        input {
            background: transparent;
            font-size: 12px;
            line-height: 1.5;
            color: #ffffff;
        }
        button {
            position: absolute;
            top: 10px;
            right: 12px;
            background: transparent;
        }
    }

    &__ps {
        max-width: 286px;
        font-size: 10px;
        line-height: 1.5;
        opacity: 0.6;
    }

    &__copyright {
    }
}
.link {
    &-tel {
        color: #ffffff;
        background: url("../img/footer/icon-telephone.svg") left no-repeat;
        padding-left: 24px;
    }
    &-email {
        color: #ffffff;
        background: url("../img/footer/icon-email.svg") left no-repeat;
        padding-left: 24px;
    }
}
.copyright {
    background-color: #292c37;
    &__container {
        height: 58px;
        max-width: 1250px;
        width: 100%;
        padding: 0px 10px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        font-size: 12px;
        line-height: 1.5;
    }

    &__link a {
        color: #ffffff;
        opacity: 0.6;
        font-size: 14px;
        line-height: 1.5;
        &:hover {
            opacity: 1;
        }
    }
}
