//====================================================================================================
.logo {
	width: rem(50);
	height: rem(50);
	border-radius: 50%;
	background-color: white;
	z-index: 5;
}
.header {
	color: #fff;
	background: #000;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 80px;
	}

	// .header__menu
	&__menu {
		flex: 1 1 auto;
		@media (max-width: $mobile) {
			flex: 0 1 auto;
		}
	}
}
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0px;
			left: -100%;
			padding: 100px 30px 30px 30px;
			background: rgba(0, 0, 0, 0.89);
			overflow-y: auto;
			transition: left 0.3s ease 0s;
			&::before {
				content: "";
				display: block;
				position: fixed;
				height: 80px;
				width: 100%;
				background: rgba(17, 17, 17, 0.938);
				top: 0px;
				left: 0px;
				z-index: 2;
			}
			html.menu-open & {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: center;
			gap: rem(12);
		}
	}
	// .menu__item
	&__item {
		position: relative;
		padding: 10px;
		html.touch & {
			display: flex;
			align-items: center;
			justify-content: start;
			@media (max-width: 767.98px) {
				// flex-direction: column;
				flex-wrap: wrap;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
		}
	}
	// .menu__link
	&__link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		html.touch & {
			flex: 1 1 auto;
		}
	}
	// .menu__sub-list
	&__sub-list {
		position: absolute;
		top: 100%;
		min-width: 200px;
		background-color: rgb(158, 158, 158);
		padding: 10px;
		transition: all 0.3s ease 0s;
		transform: translate(0, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		.menu__item:hover & {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
		@media (min-width: $mobile) {
		}
		html.touch .menu__item & {
			transform: translate(0, 10%);
			opacity: 0;
			visibility: hidden;
			pointer-events: non;
		}
		html.touch .menu__item._active & {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
		@media (max-width: 767.98px) {
			position: relative;
			flex: 1 1 100%;
			margin: 20px 0px 0px 0px;
			display: none;
			html.touch .menu__item._active & {
				display: block;
			}
		}
	}
	// .menu__sub-item
	&__sub-item {
		padding: 10px;
		& .menu__link {
			white-space: no-wrap;
		}
	}
	&__arrow {
		html.touch & {
			display: block;
			width: 0px;
			height: 0px;
			margin: 0px 0px 0px 5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid white;
			transition: transform 0.3s ease 0s;
		}
		html.touch .menu__item._active & {
			transform: rotate(180deg);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(255, 255, 255);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
