//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 5px !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	border: 1px solid #000;
	transition: all 0.3s ease 0s;
	&._form-focus {
		background: rgb(245, 245, 245);
	}
	&._form-error {
	}
	// .input_br-r
	&_br-r {
		border-radius: 5px 0 0 5px !important;
	}
	outline: none;
	&:focus {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
.input-sub {
	background: inherit;
	color: #e0e0e0;
	outline: none;
	border-bottom: 1px solid #e0e0e0;
	padding-left: rem(18);
}
