/* &display=swap */
@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,&display=swap);
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
main {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}
main p {
	margin-bottom: 24px;
}
.container {
	max-width: 810px;
	margin: 0px auto;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	margin-bottom: 19px;
}
.date {
	padding-left: 24px;
	background: url("../img/icon_calendar.svg") left no-repeat;
	color: #787a80;
}
.time {
	padding: 0 0 0 24px;
	color: #787a80;
}
.time::before {
	content: "";
	display: inline-block;
	min-width: 16px;
	min-height: 16px;
	background: url("../img/icon_watch.svg") center no-repeat;
	margin: 5.67px 8px 0px -24px;
}
.social {
	margin-bottom: 40px;
}
.text-social {
	display: inline-block;
	font-weight: 700;
}
.social > *:first-child {
	margin-left: 12px;
}
.social > *:not(:last-child) {
	margin-right: 12px;
}
.link-facebook {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/icon-facebook.svg") center no-repeat;
}

.link-twitter {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/icon-Twitter.svg") center no-repeat;
}
.link-linkedin {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/icon-linkedin.svg") center no-repeat;
}
.picture {
	margin-bottom: 60px;
}
.bold {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: #1e212c;
}
.quotation {
	margin: 48px auto;
	padding-left: 58px;
	background: url("../img/quotes.svg") 0 0 no-repeat, url("../img/quotes.svg") 18px 0 no-repeat;
}
.list {
	margin-bottom: 24px;
}

.list li {
	padding: 0px 0px 4px 32px;
}

.list li::before {
	content: "";
	width: 16px;
	height: 16px;
	margin: 0px 16px -5px -32px;
	display: inline-block;
	background: url("../img/list-img.svg") center no-repeat;
}
.game {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url("../img/joystick-logo.png") center / 20px auto no-repeat;
}
.game-conteiner {
	font-size: 0;
}
.title-game {
	font-size: 56px;
	text-align: center;
	margin-bottom: 50px;
}

.start {
	font-size: 14px;
	background: rgb(82, 193, 226);
	text-align: center;
	min-width: 100%;
	min-height: 100px;
}
[class*="line-"] {
	background: rgb(82, 193, 226);
}
.line-2 {
	max-width: 100px;
	min-height: 100px;
	margin: 0px 0px 0px auto;
}
.line-3 {
	min-width: 100%;
	min-height: 70px;
}
.line-4 {
	max-width: 70px;
	min-height: 300px;
	margin: 0px auto 0px 0px;
}
.line-5 {
	width: 50%;
	min-height: 70px;
	display: inline-block;
}
.line-6 {
	display: inline-block;
	width: 30%;
	min-height: 20px;
}
.line-7 {
	max-width: 20px;
	min-height: 100px;
	margin: 0px 20% 0px auto;
}
.line-8 {
	max-width: 20%;
	min-height: 20px;
	margin: 0px 20% 0px auto;
	font-size: 14px;
	text-align: center;
}
.line-9 {
	max-width: 20px;
	min-height: 150px;
	margin: 0px auto 0px 60%;
}
.line-10 {
	max-width: 20px;
	min-height: 30px;
	margin: 0px auto 0px 60%;
	background: red;
}
.finish {
	background: url("../img/frilanser.jpg") center / cover no-repeat;
	min-height: 900px;
}
[class*="line-"],
.finish {
	visibility: hidden;
}
.start:hover + .line-2,
.line-2:hover,
.line-2:hover + .line-3,
.line-3:hover,
.line-3:hover + .line-4,
.line-4:hover,
.line-4:hover + .line-5,
.line-5:hover,
.line-5:hover + .line-6,
.line-6:hover,
.line-6:hover + .line-7,
.line-7:hover,
.line-7:hover + .line-8,
.line-8:hover,
.line-8:hover + .line-9,
.line-9:hover,
.line-9:hover + .line-10,
.line-10:hover,
.line-10:hover + .finish,
.finish:hover {
	visibility: visible;
}

/* .line-1:hover + .line-2,
.line-2:hover {
	max-width: 100px;
	min-height: 100px;
	margin: 0px 0px 0px auto;
} */
