/* &display=swap */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */

body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}
.container {
	width: 810px;
	margin: 20px auto;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: rgb(30, 33, 44);
	margin: 0 0 92px 0;
}
.paragraph {
	line-height: 1.6;
	color: rgb(66, 69, 81);
	margin: 0 0 24px 0;
}
.bold {
	font-size: 20px;
	font-weight: 700;
	color: rgb(31, 34, 46);
	line-height: 1.5;
}

.footnote {
	margin: 48px 0 48px 58px;
}
.list {
	padding: 0 0 0 32px;
}
.list-item {
	margin: 4px 0;
}
.img {
	margin: 0 0 60px 0;
}
