/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
body {
	/* color: azure; */
	/* background: black; */
}
header {
	margin: 40px auto;
	max-width: 90%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%),
		url("../img/header.jpg") center / cover;
	padding: 10px 50px;
}
.title-header {
	font-size: 56px;
	font-weight: 900;
}
.paragrph-heder {
	font-size: 20px;
}
.nav {
	display: inline-block;
}
.link {
	outline: 10px dotted orange;
}
.title {
	font-size: 26px;
	font-weight: 700;
	margin: 0px 0px 20px 20px;
}
main {
	padding: 5%;
}
main * {
	margin: 40px 0;
}
.subtitle {
	border-bottom: 3px solid #fff;
	margin: 0px 0px 40px 20px;
	padding: 0 0 20px 0;
	max-width: 90%;
}

/* 1) background-color */

.bc {
	background-color: #999;
}

/* 2) background-image - вторую не витдно она за первой но если но репит то видно */
.bi {
	background-image: url("../img/Mercury.jpg"), url("../img/Mercury2.jpg");
	/* background-repeat: no-repeat; */
}

/* 3) градинтик сделаем */
.bi-grad {
	background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
/* 4) repeat */
/* repeat */
.backrep {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
}
/* no-repeat */
.back-no-rep {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
	background-repeat: no-repeat;
}
/* repet-x */
.back-rep-x {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
	background-repeat: repeat-x;
}
/* repeat-y */
.back-rep-y {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
	background-repeat: repeat-y;
}
/* space */
.back-rep-space {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
	background-repeat: space;
}
/* round */
.back-rep-round {
	background-image: url("../img/mercury_sun.jpg");
	background-size: 300px;
	background-repeat: round;
	background-color: #fff;
}
/* 5) background-position */
/* словами одно */
.bc-position {
	background-image: url("../img/mercury_pos.jpg");
	background-position: 10px 10px;
}
.bc-position-nr {
	background-image: url("../img/mercury_pos.jpg");
	background-position: 100px 10px;
	background-repeat: no-repeat;
}
.bc-position-nr-centr {
	background-image: url("../img/mercury_pos.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
.bc-position-nr-top {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: top;
}
.bc-position-nr-right {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
/* словами два слова */
.bc-position-nr-right-bot {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: right bottom;
}
/* в процентах 2 Значения */
.bc-position-nr-proc {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: 10% 50%;
}
/* в процентах 1 Значения */
.bc-position-nr-proc-2 {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: 10%;
}

/* в пикселях */
.bc-position-nr-px {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: 200px;
}
.bc-position-nr-px-2 {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: 20px;
}
/* не работает(( */
.bc-position-nr-px-3 {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: auto 20px;
}
.bc-position-nr-px-otr {
	background-image: url("../img/mercury_pos.jpg");
	background-repeat: no-repeat;
	background-position: -30% -20%;
}
/* 6) background-size  */
.bg-size {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") no-repeat;
}
/* в процентах 1 Значения */
.bg-size-one-znach {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") center no-repeat;
	background-size: 80%;
}
/* в процентах 2 Значения */
.bg-size-two-znach {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") center no-repeat;
	background-size: 80% 90%;
}
.bg-size-two-znach-auto {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") center no-repeat;
	background-size: auto 90%;
}
.bg-size-pad {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") top / auto 400px no-repeat;
	padding-top: 400px;
}
/* в пикселях */
/* словами  */
/* conteine */
.bg-size-contein {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") right bottom no-repeat;
	background-size: contain;
}
/* cover */
.bg-size-cover {
	background: url("../img/period-vrashhenie-planety-merkurij-po-orbite-vokrug-solncza.jpg") center no-repeat;
	background-size: cover;
}

/* 7) background-attachment */
/* scroll */
/* fixed */
.bg-attachmant {
	background: url("../img/trk-mrekury.jpg") no-repeat;
}
.bg-attachmant-scroll {
	background: url("../img/trk-mrekury.jpg") no-repeat;
	background-attachment: fixed;
}

/* 8) унивеслальное  */

/* мульти картинка */
