//========================================================================================================================================================

.page-bar {
    @include adaptiveValue("padding-bottom", 120, 60);

    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100vh;
        left: 50%;
        z-index: 0;
        transform: translate(-865px, 0);
        background: url("@img/bg-line1.svg") no-repeat 0 0, url("@img/bg-line.svg") no-repeat 0 0;
    }

    &__main {
        // background-image: url("@img/bg.jpg");
        @include adaptiveValue("padding-top", 121, 50);
        @include adaptiveValue("padding-bottom", 50, 10);
        height: 100%;
        display: flex;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 160, 60);
        }
    }
    // .page-bar__container
    &__container {
        &_wide {
            position: relative;
            max-width: rem(1680);
            min-width: 0;
        }
    }
    // .page-bar__hashtag
    &__hashtag {
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
    }
    // .page-bar__slider
    &__swiper {
        height: 100%;
        width: 100%;
    }
    &__scroll {
        z-index: 2;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 0px);
    }
    @media (max-width: $tablet) {
        // .page-bar__container
        &__container {
            padding: rem(math.div($containerPadding, 2));

            // page__container_wide
            &_wide {
                padding: 0;
                padding-top: rem(14);
                // flex-direction: column;
            }
        }
        &__hashtag {
            // position: static;
            height: auto;
            width: 100%;
            top: rem(-10px);
        }
        .hashtag {
            &__list {
                display: flex;
                gap: 12px;
                justify-content: center;
            }
            &__item {
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                margin-bottom: 0 !important;
            }
        }
        &__scroll {
            display: none;
        }
    }
    @media (max-width: $mobileSmall) {
        &__hashtag {
            display: none !important;
        }
        &__container {
            &_wide {
                padding: 0;
            }
        }
    }
    &__reservation {
        position: relative;
    }
    // .page-bar__reservation
    &__reservation {
        &:not(:last-child) {
            margin-bottom: rem(184);
            @include adaptiveValue("margin-bottom", 184, 60);
        }
        .page-bar__container {
            position: relative;
            &[data-decor] {
                &::before {
                    top: -170px;
                    right: -140px;
                }
            }
            @media (max-width: 991.98px) {
                &[data-decor] {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    // .page-bar__abuot
    &__abuot {
        position: relative;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 201, 60);
        }
    }
    // .page-bar__navigation
    &__navigation {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 60);
        }
    }
    // .page-bar__navigation-menu
    &__navigation-menu {
        &:not(:last-child) {
            margin-bottom: rem(150);
        }
    }
    &__happy-hour {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 60);
        }
    }
    // .page__special
    &__special {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 32);
        }
    }
    // .page-bar__contact
    &__contact {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 60);
        }
    }
}
.hashtag {
    z-index: 2;
    font-size: rem(18);
    line-height: 1.75;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $colorWhite;
    // .hashtag__list
    &__list {
    }
    // .hashtag__item
    &__item {
        transition: all 0.3s ease 0s;
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
        transform: rotate(-180deg);
        writing-mode: vertical-lr;
        &._active {
            color: $colorCalicio;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.2) rotate(-180deg);
            }
        }
    }
}
.swiper-bar {
    padding-left: 40px;
    position: relative;
    // .swiper-main__wrapper
    &__wrapper {
        height: 100%;
    }
    // .swiper-main__slide
    &__slide {
        position: relative;
        height: 100%;
        padding-top: 34px;
        @include adaptiveValue("padding-bottom", 90, 60, 1170+124, 899, 1);
        padding-right: 24px;
        display: flex;
        justify-content: center;
        @media (max-width: $mobile) {
            padding-bottom: rem(16);
        }
        @media (max-width: $mobileSmall) {
        }
    }
    // .swiper-main__title
    &__title {
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        transform: translate(0, -50%);
        font-weight: 700;
        @include adaptiveValue("font-size", 181, 60);
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $colorWhite;
        z-index: 2;
    }
    // .swiper-main__image-ibg
    &__image-ibg {
        border: 1px solid $colorCalicio;
        height: 100%;
        position: relative;
        min-height: 150px;
        width: percent(634, 1710);
        @media (max-width: $tablet) {
            width: 100%;
        }
        @media (max-width: $mobile) {
        }
    }
    // .swiper-main__pagination
    &__pagination {
        @include adaptiveValue("padding-bottom", 90, 60, 1170+124, 899, 1);
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        display: flex;
        writing-mode: vertical-rl;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        .swiper-pagination-bullet {
            cursor: pointer;
            @extend %ffcu;
            font-weight: 600;
            font-size: rem(16);
            line-height: 1.75;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-feature-settings: "tnum" on, "lnum" on;
            color: $colorWhite;
            opacity: 0.9;
            transition: all 0.3s ease 0s;
            display: flex;
            align-items: center;
            &::after,
            &::before {
                content: "";
                width: 0;
                height: 1px;
                background: $colorCalicio;
                transition: all 0.3s ease 0s;
            }
            &-active {
                opacity: 1;
                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: 1px;
                        margin-top: 8px;
                        height: rem(16);
                        background: $colorCalicio;

                        // vertical-align: middle;
                    }
                }
                &:last-child {
                    &::before {
                        content: "";
                        width: 1px;

                        margin-top: 8px;
                        height: rem(16);
                        background: $colorCalicio;
                        // vertical-align: middle;
                    }
                }
            }
        }
    }
}
.about-bar {
    @include adaptiveValue("padding-top", 128, 30);
    @include adaptiveValue("padding-bottom", 128, 30);
    // .about-bar__container
    &__container {
        position: relative;
        &::before {
            // z-index: 2;
            left: rem(-150);
        }
    }
    // .about-bar__image-column-ibg
    &__image-column-ibg {
        display: none;
        transition: all 0.3s ease 0s;
        &:hover {
            transform: scale(1.05);
        }
    }
    // .about-bar__content
    &__content {
        display: grid;
        gap: rem(32);
        transition: all 0.3s ease 0s;
        &:hover {
            transform: scale(1.05);
        }
    }
    // .about-bar__image-title-ibg
    &__image-title-ibg {
        width: 100%;
        padding-bottom: percent(385, 614);
    }
    // .about-bar__title
    &__title {
    }
    // .about-bar__text
    &__text {
        line-height: 175%;
        letter-spacing: 0.04em;
    }
    &__button {
        justify-self: left;
    }
    @media (min-width: $tablet) {
        &__image-column-ibg {
            height: 0;
            display: block;
            width: percent(523, 619);
            padding-bottom: percent(702, 619);
            align-self: flex-end;
        }
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
        }
    }
}
.navigation-bar {
    position: relative;
    // .navigation-bar__container
    &__container {
        position: relative;
    }
    // .navigation-bar__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }
    // .navigation-bar__list
    &__list {
        display: flex;
        margin: 0 rem(-16);
    }
    // .navigation-bar__item
    &__item {
        position: relative;
        flex: 1 1 33.333%;
        transition: all 0.3s ease 0s;
        padding: 0 rem(16);
        &:hover {
            transform: scale(1.1);
            .navigation-bar__text {
                opacity: 1;
            }
            .navigation-bar__image-ibg {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    // .navigation-bar__image-ibg
    &__image-ibg {
        width: 100%;
        padding-top: percent(600, 412);
        border: 1px solid #dcca87;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(12, 12, 12, 0.4);
            opacity: 0;
            transition: all 0.3s ease 0s;
        }
    }
    // .navigation-bar__text
    &__text {
        @extend %ffcu;
        font-weight: 600;
        font-size: 45px;
        line-height: 130%;
        /* or 58px */
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorWhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        opacity: 0;
    }
    @media (max-width: $mobileSmall) {
        &__list {
            flex-direction: column;
            gap: rem(16);
        }
        &__image-ibg {
            padding-top: percent(200, 412);
        }
    }
}
.contact-bar {
    @include adaptiveValue("padding-top", 128, 60);
    @include adaptiveValue("padding-bottom", 128, 60);
    position: relative;
    // .contact-bar__container
    &__container {
        position: relative;
        display: grid;
        gap: rem(32);
    }
    // .contact-bar__content
    &__content {
    }
    // .contact-bar__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }
    // .contact-bar__text
    &__text {
        line-height: 175%;
        letter-spacing: 0.04em;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .contact-bar__opening
    &__opening {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }
    // .contact-bar__subtitle
    &__subtitle {
        @extend %ffcu;
        font-size: rem(23);
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorCalicio;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .contact-bar__time
    &__time {
        line-height: 175%;
        letter-spacing: 0.04em;
        color: $colorWhite;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .contact-bar__button
    &__button {
    }
    // .contact-bar__image-ibg
    &__image-ibg {
        width: 100%;
        padding-bottom: percent(688, 619);
        justify-self: center;
        align-self: center;
        img {
            transition: all 0.3s ease 0s;
        }
    }
    @media (min-width: $mobile) {
        &__image-ibg {
            width: percent(619, 650);

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: percent(435, 619);
                height: percent(435, 688);
                background-color: $colorCalicio;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: rem(-24);
                right: rem(-24);
            }
            &::after {
                bottom: rem(-24);
                left: rem(-24);
            }
            img {
                z-index: 2;
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
                &::before {
                    transform: translate(20px, -20px);
                }
                &::after {
                    transform: translate(-20px, 20px);
                }
            }
        }
        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
}
//====================================================================================================
