// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

// Стили попапов
// @import "base/popup";

// Стили спойлеров
// @import "base/spollers";

// Стили табов
// @import "base/tabs";

// Стили карт
// @import "base/maps";

// Стили блока "показать еще"
// @import "base/showmore";

// Стили для полноэкранного блока
@import "base/fullscreen";

// Стили для липкого блока
// @import "base/sticky";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео в качестве фона
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серый фильтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отображение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%ffcu {
	font-family: CormorantUpright;
}
.scroll {
	font-weight: 700;
	font-size: rem(16);
	line-height: 1.75;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $colorCalicio;
	@extend %ffcu;
	&::before {
		content: "";
		display: block;
		position: relative;
		left: 50%;
		height: rem(61);
		width: 1px;
		background: rgb(220, 202, 135);
		background: linear-gradient(
			180deg,
			rgba(220, 202, 135, 1) 0%,
			rgba(220, 202, 135, 1) 53%,
			rgba(220, 202, 135, 0.2413340336134454) 100%
		);

		margin-bottom: rem(24);
	}
}
.link {
}

.title {
	text-align: center;
	@extend %ffcu;
	&_left {
		text-align: left;
	}
	// .title__subtitle
	&__subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 24, 1352, $minWidth, 1);
		line-height: 1.3;
		letter-spacing: 0.04em;
		text-transform: capitalize;
		font-feature-settings: "tnum" on, "lnum" on;
		color: $colorWhite;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .title__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 64, 40, 1352, $minWidth, 1);
		line-height: 1.3;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		font-feature-settings: "tnum" on, "lnum" on;
		color: $colorCalicio;
		&_big {
			@include adaptiveValue("font-size", 90, 40, 1352, $minWidth, 1);
		}
		&_upper-spoon {
			&::before {
				@extend %ic;
				display: block;
				content: "\e904";
				font-size: rem(14);
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
		}
		&_under-spoon {
			&::after {
				@extend %ic;
				display: block;
				content: "\e904";
				font-size: rem(14);
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
		}
		&_under-spoon_180 {
			&::after {
				transform: rotate(180deg);
				text-align: left;
				@media (max-width: $mobile) {
					text-align: center;
				}
			}
		}
	}
}
.bg_wall {
	background: linear-gradient(180deg, rgba(4, 4, 4, 0.5046393557422969) 0%, rgba(4, 4, 4, 0.4962359943977591) 100%),
		url("@img/restoran-home/about-us/bg.jpg") center / cover no-repeat;
}
.bg-paralax {
	position: absolute;
	width: 100%;
	overflow: hidden;
}
