//========================================================================================================================================================
.page {
    // .page__error
    &__error {
    }
    // .page__error-footer
    &__error-footer {
        padding-top: rem(32);
        padding-bottom: rem(32);
    }
}
.coming-soon {
    background: url("@img/bg.jpg") no-repeat center center / cover;
    display: flex;
    align-items: center;
    flex-direction: column;

    // .coming-soon__container
    &__container {
        max-width: rem(916 + $containerPadding);
        flex: 1 1 auto;
        position: relative;
        @include adaptiveValue("padding-top", 121, 50);
        @include adaptiveValue("padding-bottom", 50, 10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("gap", 40, 16);
        &::before {
            top: 0;
            right: rem(-100);
        }
    }
    // .coming-soon__title
    &__title {
        font-weight: 700;
        @extend %ffcu;
        @include adaptiveValue("font-size", 90, 60);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        color: $colorCalicio;
    }
    // .coming-soon__text
    &__text {
        line-height: 175%;
        text-align: center;
        letter-spacing: 0.04em;
        color: $colorWhite;
    }
    // .coming-soon__button
    &__button {
        &::before {
            bottom: rem(-150);
            left: rem(-100);
        }
    }

    // .coming-soon__datatime
    &__datatime {
        align-self: stretch;
        display: flex;
        justify-content: space-between;
    }
    // .coming-soon__element
    &__element {
        display: grid;
        gap: 8;
    }
    // .coming-soon__number
    &__number {
        @extend %ffcu;
        font-weight: 600;
        @include adaptiveValue("font-size", 64, 32);
        line-height: 130%;
        /* or 83px */
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;

        /* F5EFDB */

        color: #f5efdb;
    }
    // .coming-soon__name
    &__name {
        @extend %ffcu;
        font-weight: 700;
        font-size: 23px;
        @include adaptiveValue("font-size", 23, 16);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
    }
}
.error-footer {
    // .error-footer__text
    &__text {
        text-align: center;
        line-height: 175%;
        letter-spacing: 0.04em;
    }
}
