//========================================================================================================================================================
.page {
    // .page__error
    &__error {
    }
}
.error-404 {
    background: url("@img/bg.jpg") no-repeat center center / cover;
    display: flex;
    align-items: center;
    flex-direction: column;

    // .error-404__container
    &__container {
        flex: 1 1 auto;
        position: relative;
        @include adaptiveValue("padding-top", 121, 50);
        @include adaptiveValue("padding-bottom", 50, 10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(32);
        &::before {
            top: 0;
            right: rem(-100);
        }
    }
    // .error-404__image-ibg
    &__image-ibg {
        @include adaptiveValue("width", 428, 290);
        padding-bottom: percent(255, 1300);
    }
    // .error-404__text
    &__text {
        font-weight: 700;
        @extend %ffcu;
        @include adaptiveValue("font-size", 23, 16);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorWhite;
    }
    // .error-404__button
    &__button {
        &::before {
            bottom: rem(-150);
            left: rem(-100);
        }
    }
}
.page {
    // .page__error-footer
    &__error-footer {
        padding-top: rem(32);
        padding-bottom: rem(32);
    }
}
.error-footer {
    // .error-footer__text
    &__text {
        text-align: center;
        line-height: 175%;
        letter-spacing: 0.04em;
    }
}
