//====================================================================================================
html.loaded.preloader_html {
    height: auto;
    background: #0c0b08;
}
.loader {
    html.loaded & {
        display: none;
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .wineglass {
        height: 36px;
        position: relative;
    }
    .wineglass:after {
        content: "";
        position: absolute;
        top: 47px;
        left: 5px;
        width: 20px;
        height: 5px;
        background: white;
        box-shadow: 0 0 1px white;
    }
    .top {
        background: white;
        width: 30px;
        height: 36px;
        border-radius: 0 0 36px 36px;
        box-shadow: 0 0 1px white;
    }
    .top:before {
        content: "";
        position: absolute;
        left: 4px;
        bottom: 4px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: linear-gradient(transparent 50%, #f36e3e 50%);
    }
    .left .top:before {
        animation: rotate2 2s linear infinite;
    }
    .right .top:before {
        animation: rotate1 2s linear infinite;
    }
    .top:after {
        content: "";
        position: absolute;
        top: 35px;
        left: 12px;
        width: 6px;
        height: 13px;
        background: white;
        box-shadow: 0 0 1px white;
    }
    .left {
        display: inline-block;
        margin-right: 10px;
        animation: rotate1 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
    }
    .right {
        display: inline-block;
        animation: rotate2 2s cubic-bezier(0.39, 1.52, 0.46, 0.92) infinite;
    }
    @keyframes rotate1 {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(22deg);
        }
    }
    @keyframes rotate2 {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(-22deg);
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 70px;
        height: 25px;
        position: relative;
        opacity: 0;
        animation: 2s fadeInUp infinite linear 2s;
    }
    li {
        width: 6px;
        height: 15px;
        background: white;
        position: absolute;
        box-shadow: 0 0 1px white;
        transform-origin: bottom;
    }
    li:nth-child(1) {
        left: 26px;
        bottom: 5px;
        transform: rotate(-35deg);
    }
    li:nth-child(2) {
        left: 34px;
        bottom: 8px;
    }
    li:nth-child(3) {
        left: 42px;
        bottom: 5px;
        transform: rotate(35deg);
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: scaleY(1);
        }

        33% {
            opacity: 1;
            transform: scaleY(1.4);
        }
        64% {
            opacity: 0.1;
            transform: scaleY(1);
        }
        100% {
            opacity: 0;
            transform: scaleY(0.3);
        }
    }
}

//========================================================================================================================================================

.page {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100vh;
        left: 50%;
        z-index: 0;
        transform: translate(-865px, 0);
        background: url("@img/bg-line1.svg") no-repeat 0 0, url("@img/bg-line.svg") no-repeat 0 0;
    }

    &__main {
        @include adaptiveValue("padding-top", 121, 50);
        @include adaptiveValue("padding-bottom", 50, 10);
        height: 100%;
        display: flex;
    }
    // .page__container
    &__container {
        min-width: 0;
        position: relative;
        // прибавляю слева и справа отступы для блоков hashtag and scrol
        max-width: rem($maxWidthContainer) + rem(124);
        padding: 0 rem(62) 0 rem(32);
        // .page__container_wide
        &_wide {
            flex: 1 1 auto;
            position: relative;
            display: flex;
            max-width: rem(1680);
            padding: 0 rem(math.div($containerPadding, 2));
            min-width: 0;
        }
    }
    // .page__hashtag
    &__hashtag {
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
    }
    // .page__slider
    &__swiper {
        height: 100%;
        width: 100%;
    }
    &__scroll {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
    @media (max-width: $tablet) {
        // .page__container
        &__container {
            padding: rem(math.div($containerPadding, 2));
            // page__container_wide
            &_wide {
                padding: 0;
                // flex-direction: column;
            }
        }
        &__hashtag {
            // position: static;
            height: auto;
            width: 100%;
            top: -16px;
        }
        .hashtag {
            &__list {
                display: flex;
                gap: 12px;
                justify-content: center;
            }
            &__item {
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                margin-bottom: 0 !important;
            }
        }
        &__scroll {
            display: none;
        }
    }
    @media (max-width: $mobileSmall) {
        &__hashtag {
            display: none !important;
        }
        &__container {
            &_wide {
                padding: 0;
            }
        }
    }
    &__reservation {
        position: relative;
    }
}
.hashtag {
    font-weight: 400;
    font-size: rem(18);
    line-height: 1.75;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $colorWhite;

    // .hashtag__list
    &__list {
    }
    // .hashtag__item
    &__item {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
        transform: rotate(-180deg);
        writing-mode: vertical-lr;
        @media (any-hover: hover) {
            &:hover {
                color: $colorCalicio;
            }
        }
    }
}
.swiper-main {
    position: relative;

    // .swiper-main__wrapper
    &__wrapper {
        height: 100%;
    }
    // .swiper-main__slide
    &__slide {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding-top: 34px;
        @include adaptiveValue("padding-bottom", 90, 60, 1170+124, 899, 1);
        // padding-left: 34px;
        // @include adaptiveValue("padding-top", 34, );
        padding-right: 24px;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 48px;
            padding: 0;
            padding-bottom: rem(16);
        }
        @media (max-width: $mobileSmall) {
        }
    }
    // .swiper-main__content
    &__content {
        z-index: 2;
        flex: 0 1 50%;
        max-width: 450px;
        @media (max-width: $mobile) {
            max-width: 100%;
            flex: 1 1 auto;
        }
    }
    // .swiper-main__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .swiper-main__text
    &__text {
        line-height: 1.75;
        letter-spacing: 0.04em;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .swiper-main__button
    &__button {
    }
    // .swiper-main__image-ibg
    &__image-ibg {
        height: 100%;
        position: relative;
        max-height: 736px;
        min-height: 150px;
        width: 100%;
        flex: 0 1 50%;
    }
    // .swiper-main__pagination
    &__pagination {
        position: absolute;
        bottom: 2px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
        .swiper-pagination-bullet {
            @extend %ffcu;
            font-weight: 600;
            font-size: rem(16);
            line-height: 1.75;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-feature-settings: "tnum" on, "lnum" on;
            color: $colorWhite;
            opacity: 0.9;
            transition: all 0.3s ease 0s;
            display: flex;
            align-items: center;

            &::after,
            &::before {
                content: "";
                width: 0;
                height: 1px;
                background: $colorCalicio;
                transition: all 0.3s ease 0s;
            }
            &-active {
                opacity: 1;
                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: rem(16);
                        margin-left: 8px;
                        height: 1px;
                        background: $colorCalicio;
                        vertical-align: middle;
                    }
                }
                &:last-child {
                    &::before {
                        content: "";
                        width: rem(16);
                        margin-right: 8px;
                        height: 1px;
                        background: $colorCalicio;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.page {
    // .page__restorant-home-about
    &__restorant-home-about {
        margin-bottom: rem(159);
    }
}
.restorant-home-about {
    &::before {
        content: "G";
        font-size: rem(700);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #272727;
        z-index: 1;
    }
    position: relative;
    overflow: hidden;

    // .restorant-home-about__container
    &__container {
        @include adaptiveValue("padding-top", 100, 10);
        @include adaptiveValue("padding-bottom", 100, 10);
    }
    // .restorant-home-about__content
    &__content {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
        z-index: 2;
    }
    // .restorant-home-about__abut-us
    &__abut-us {
        max-width: 523px;
        *:not(:last-child) {
            margin-bottom: 32px;
        }
        text-align: right;
    }
    // .restorant-home-about__title
    &__title {
        text-align: right;
        &_left {
            text-align: left;
        }
    }
    // .restorant-home-about__text
    &__text {
        line-height: 175%;
        letter-spacing: 0.04em;
    }
    // restorant-home-about__image-ibg
    &__image-ibg {
        width: 94px;
        height: 653px;
        flex: 0 0 auto;

        img {
            object-fit: contain;
        }
    }
    // restorant-home-about__image_horizont
    &__image_horizont {
        display: none;
    }
    // .restorant-home-about__our-histori
    &__our-histori {
        max-width: 523px;
        *:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    // .restorant-home-about__button
    &__button {
    }
    @media (max-width: $mobile) {
        &__content {
            flex-direction: column;
        }
        &__abut-us,
        &__our-histori,
        &__title {
            text-align: center !important;
            &::after {
                // text-align: center;
            }
        }
        &__image-ibg {
            display: none;
        }
        &__image_horizont {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
//====================================================================================================

.page {
    // .page__reservation
    &__reservation {
        &:not(:last-child) {
            margin-bottom: rem(184);
        }
    }
}
.resirvation-form {
    // .resirvation-form__title
    &__title {
        @include adaptiveValue("margin-bottom", 64, 24);
    }
    // .resirvation-form__container
    &__container {
        max-width: rem(1364);
        @include adaptiveValue("padding-top", 48, 12);
        @include adaptiveValue("padding-bottom", 48, 12);
        background-color: #0c0c0c;
        border: 1px solid rgba(220, 202, 135, 0.2);
        box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
        position: relative;
        &[data-decor] {
            &::before {
                top: -170px;
                right: -140px;
            }
        }
        @media (max-width: 991.98px) {
            &[data-decor] {
                &::before {
                    display: none;
                }
            }
        }
    }
    // .resirvation-form__form
    &__form {
    }
}

.form-book {
    &__lines {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 32, 12);
        justify-content: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 24);
        }
    }
    &__input {
        position: relative;
        &::before {
            position: absolute;
            right: rem(16);
            top: rem(25);
            font-size: rem(10);
            transition: all 0.3s ease 0s;
        }
        &._form-focus {
            &::before {
                transform: rotate(-180deg);
            }
        }
        .form__error {
            color: red;
            font-size: rem(15);
            margin: 10px 0px 0px 0px;
            @media (min-width: $tablet) {
                position: absolute;
                bottom: -25px;
            }
        }
    }
    &__line {
        flex: 1 1 auto;
    }
    // .form-book__container
    &__container {
    }
    // .form-book__input
    &__input {
    }
    // .form-book__button
    &__button {
    }
}

//====================================================================================================

.page {
    // .page__navigation-menu
    &__navigation-menu {
        &:not(:last-child) {
            margin-bottom: rem(150);
        }
    }
}
.navigation-menu {
    .bg-paralax__image {
        transition: background-image 0.9s ease 0s;
    }
    &__bg {
        position: relative;
        overflow: hidden;
        max-width: rem(1920);
        margin: 0px auto;
        background-image: url("@img/navigation-menu/bg-navigation-menu.jpg");
    }
    &__bg-black {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(12, 11, 8, 0.29175420168067223) 0%, rgba(12, 11, 8, 1) 100%);
    }
    // .navigation-menu__container
    &__container {
        // .navigation-menu__container_wide
        &_wide {
            &::before {
                top: 0;
                z-index: 2;
            }
        }
    }
    // .navigation-menu__list
    &__list {
        position: relative;
        @include adaptiveValue("padding-top", 261, 48);
        @include adaptiveValue("padding-bottom", 261, 48);
    }
    // .navigation-menu__item
    &__item {
        @extend %ffcu;
        color: $colorWhite;
        font-weight: 400;
        font-size: 64px;
        @include adaptiveValue("font-size", 64, 36);
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        &:not(:last-child) {
            margin-bottom: rem(64);
        }
    }
    // .navigation-menu__link
    &__link {
        &:active {
            color: $colorCalicio;
        }
        &:hover {
            text-decoration-line: underline;
        }
    }
}
//====================================================================================================

.page {
    // .page__special
    &__special {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 32);
        }
    }
}
.today-special {
    position: relative;
    // .today-special__container
    &__container {
        display: grid;
        @include adaptiveValue("gap", 64, 24);
    }
    // .today-special__title
    &__title {
    }
    // .today-special__row
    &__row {
        display: grid;
        @media (max-width: $mobile) {
            row-gap: 40px;
        }
        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
        }
        @media (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 32px;
        }
    }
    // .today-special__column
    &__column {
        // align-self: center;
    }
    &__img {
        @media (max-width: $tablet) {
            display: none;
        }
    }

    // .today-special__subtitle
    &__subtitle {
        @extend %ffcu;
        font-weight: 600;
        font-size: rem(45);
        @include adaptiveValue("font-size", 45, 32);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorWhite;
        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }
    // .today-special__position
    &__position {
    }
    // .today-special__button
    &__button {
        justify-self: center;
    }
}
//==================================================================================================
.position-menu {
    display: grid;
    column-gap: 32px;
    grid-template-columns: auto 1fr auto;

    @media (max-width: $tablet) {
        grid-template-columns: auto minmax(auto, 120px) auto;
        justify-content: center;
    }
    @media (max-width: $mobileSmall) {
        justify-content: stretch;
    }
    align-items: center;
    // .position-menu__name
    &__name {
        @extend %ffcu;
        font-size: rem(23);
        @include adaptiveValue("font-size", 23, 16);
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorCalicio;
    }
    // .position-menu__line
    &__line {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &::after {
            content: "";
            display: block;
            width: 100%;
            max-width: 120px;
            height: 1px;
            background-color: #fafafa;
        }
    }
    // .position-menu__price
    &__price {
        justify-self: end;
        @extend %ffcu;
        @include adaptiveValue("font-size", 23, 16);
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorWhite;
    }
    // .position-menu__composition
    &__composition {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
        margin-top: rem(8);
        grid-column: 1 / 4;
        display: flex;
        gap: rem(10);
    }
    // .position-menu__item
    &__item {
        display: flex;
        &:not(:last-child) {
            &::after {
                content: "";
                margin-left: rem(10);
                display: block;
                height: 100%;
                width: 1px;
                background-color: $mainColor;
            }
        }
    }
}
.today-specia {
    // .today-specia__image-ibg
    &__image-ibg {
    }
}
//====================================================================================================
.page {
    // .page__chefs
    &__chefs {
        position: relative;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 40);
        }
    }
}
.chefs-restorane {
    @include adaptiveValue("padding-top", 121, 50);
    @include adaptiveValue("padding-bottom", 121, 50);
    // overflow: hidden;
    // .chefs-restorane__container
    [data-decor] {
        &::before {
            bottom: -150px;
            right: -75px;
        }
    }
    &__container {
        position: relative;
        display: grid;
        gap: 32px;
        @include adaptiveValue("gap", 96, 32);
        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__image {
        @media (min-width: $mobile) {
            // padding: 45px;
        }
        height: 100%;
        min-height: 550px;
    }
    // .chefs-restorane__image-ibg
    &__image-ibg {
        height: 100%;
    }
    // .chefs-restorane__content
    &__content {
        @include adaptiveValue("padding-top", 87, 0);
        @include adaptiveValue("padding-bottom", 87, 0);
        display: grid;
        @include adaptiveValue("gap", 64, 32);
    }
    // .chefs-restorane__title
    &__title {
    }
    // .chefs-restorane__quote
    &__quote {
        font-style: italic;
        line-height: 175%;
        /* or 28px */

        letter-spacing: 0.04em;
        &::before {
            content: "";
            display: inline-block;
            width: 47px;
            height: 40px;
            background: url("@img/chefs-restoran/quotes.svg");
            margin-right: 10px;
        }
    }
    // .chefs-restorane__name-position
    &__name-position {
    }
    // .chefs-restorane__name
    &__name {
        @extend %ffcu;
        @include adaptiveValue("font-size", 32, 24);
        text-transform: capitalize;
        font-feature-settings: "tnum" on, "lnum" on;
        color: $colorCalicio;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    // .chefs-restorane__position
    &__position {
    }
    // .chefs-restorane__signature
    &__signature {
    }
}
//========================================================================================================================================================
.page {
    // .page__testimony
    &__testimony {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 32);
        }
    }
}
.testimony {
    position: relative;
    // .testimony__container
    &__container {
    }
    // .testimony__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 32);
        }
    }
    // .testimony__content
    &__content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
    }
    // .testimony__card
    &__card {
    }
    @media (min-width: $tablet) {
        &__content {
            justify-content: center;
        }
        &__card {
            flex: 1 1 50%;
            padding: 0 16px;
            // margin: 0 -16px;
        }
    }
}
.title {
    // .title__subtitle
    &__subtitle {
    }
    // .title__title
    &__title {
        // .title__title_upper-spoon
        &_upper-spoon {
        }
    }
}
.card-testimony {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    // .card-testimony__image-ibg
    &__image-ibg {
        width: percent(190, 634);
        padding-bottom: percent(190, 634);
    }
    // .card-testimony__content
    &__content {
        flex: 0 1 412px;
    }
    // .card-testimony__text
    &__text {
    }
    // .card-testimony__autor
    &__autor {
    }
    // .card-testimony__name
    &__name {
    }
    // .card-testimony__position
    &__position {
    }
}

//====================================================================================================
.page {
    // .page__video
    &__video {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 152, 24);
        }
    }
}
.restorane-video {
    width: 100%;
    padding-bottom: percent(763, 1920);
    position: relative;
    &::before {
        top: 145px;
        left: 130px;
        z-index: 2;
        opacity: 1;
        transition: all 0.3s ease 0s;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(12, 12, 12, 0.405);
    }
    // .restorane-video__video
    video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__control {
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 1;
            transition: all 0.3s ease 0s;
        }
        &::before {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-left: 24px solid rgb(255, 255, 255);
            border-bottom: 15px solid transparent;
            transform: translate(-25%, -50%);
        }
        &::after {
            border: 1px solid $colorCalicio;
            border-radius: 50%;
            @include adaptiveValue("width", 120, 80);
            @include adaptiveValue("height", 120, 80);
        }
    }
    &._video-play {
        &::before {
            opacity: 0;
        }
        &::after {
            background-color: transparent;
        }
        .restorane-video__control {
            &::before,
            &::after {
                opacity: 0;
            }
            &::after {
                transform: translate(-50%, -50%) scale(3);
            }
        }
    }
}
//====================================================================================================

.page {
    // .page_gallarey
    &_gallarey {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 120, 40);
        }
    }
}
.gallery-restoran {
    position: relative;
    background-color: rgba(4, 4, 4, 0.507);
    @include adaptiveValue("padding-top", 121, 50);
    @include adaptiveValue("padding-bottom", 121, 50);
    @media (min-width: $mobile) {
        &__container {
            grid-template-columns: 350px 1fr;
            align-items: center;
        }
    }
    @media (min-width: $tablet) {
        &__container {
            grid-template-columns: 491px 1fr;
        }
    }
    // .gallery-restoran__container
    &__container {
        &[data-decor] {
            &::before {
                bottom: -300px;
                left: -150px;
            }
        }
        display: grid;
        @include adaptiveValue("gap", 64, 24);
        // .gallery-restoran__container_right-exit
        &_right-exit {
        }
    }
    // .gallery-restoran__info
    &__info {
        display: grid;
        gap: 24px;
    }
    // .gallery-restoran__title
    &__title {
    }
    // .gallery-restoran__text
    &__text {
    }
    &__button {
        justify-self: left;
    }
    // .gallery-restoran__slider
    &__slider {
    }
    // .gallery-restoran__wrapper
    &__wrapper {
    }
    // .gallery-restoran__slide
    &__slide {
        min-width: 230px;
        width: 301px;
    }
    // .gallery-restoran__image-ibg
    &__image-ibg {
        border: 2px solid rgba(220, 202, 135, 0.2);
        width: 100%;
        padding-bottom: percent(447, 301);
        &::before {
            @extend %ic;
            @extend ._icon-inst;
            color: #fff;
            z-index: 2;
            font-size: rem(30);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.3s ease 0s;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.75);
            opacity: 0;
            transition: all 0.3s ease 0s;
        }
        &:hover {
            &::before,
            &::after {
                opacity: 1;
            }
        }
        // padding-bottom: 459px;
    }
}

//====================================================================================================
