//========================================================================================================================================================
.page {
    // .page__hero
    &__hero {
    }
    // .page__first
    &__first {
    }
    // .page__quality
    &__quality {
        position: relative;
        @include adaptiveValue("padding-top", 152, 20);
        @include adaptiveValue("padding-bottom", 152, 20);
        &[data-decor] {
            &::before {
                bottom: rem(10);
                right: rem(-150);
            }
        }
    }
    // .page__container
    &__container_widtn-1128 {
        max-width: rem(1128);
    }
    &__reservation {
        .page__decore_left {
            &[data-decor] {
                &::before {
                    left: rem(-150);
                    top: 100%;
                }
            }
        }
    }

    // page__happy-hour
    &__happy-hour {
    }
}

//========================================================================================================================================================
