//========================================================================================================================================================

.sidebar {
    // .sidebar__element
    &__element {
        background-color: #242424;
        padding: rem(32);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
}
.element-sidebar {
    // .element-sidebar__title
    &__element {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

}



//========================================================================================================================================================
