//====================================================================================================
.header {
	z-index: 10;
	@include adaptiveValue("padding-top", 30, 10);
	@include adaptiveValue("padding-bottom", 30, 10);
	// .header__container
	&__container {
		// .header__container_wide
		&_wide {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: rem(40);
		}
	}
	// .header__logo
	&__logo {
		z-index: 50;
		font-weight: 800;
		font-size: rem(25);
		letter-spacing: -0.06em;
		color: $secondColor;
		flex: 1 1 25%;
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .header__buttons
	&__buttons {
		z-index: 50;
		flex: 0 1 auto;
		display: flex;
		@include adaptiveValue("gap", 30, 10);
		.menu__list & {
			justify-content: center;
		}
	}
	// .header__icon
	&__icon {
		z-index: 50;
		flex: 0 0 auto;
	}
}
.menu {
	// .menu__body
	&__body {
		z-index: 10;
	}

	// .menu__list
	&__list {
		display: flex;
		@include adaptiveValue("gap", 50, 20, 1140, 767, 1);
		@media (max-width: 1310px) {
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
		font-size: rem(17);
		color: $secondColor;
	}
	// .menu__link
	&__link {
	}
	@media (max-width: $mobile) {
		&__body {
			position: fixed;
			overflow: auto;
			@include adaptiveValue("padding-top", 100, 80);
			top: 0;
			left: -100%;
			background-color: $colorBg;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease 0s;
			&::before {
				content: "";
				display: block;
				position: fixed;
				top: -100%;
				left: 0;
				width: 100%;
				background: $colorBg;
				// background: #111;
				@include adaptiveValue("height", 100, 80);
				transition: all 0.3s ease 0s;
			}
			.menu-open & {
				left: 0;
				&::before {
					top: 0;
				}
			}
		}
		&__list {
			display: block;
			background-color: $colorBg;
			padding: rem(10) rem(10);
		}
		&__item {
			margin-bottom: rem(15);
			text-align: center;
			font-size: rem(32);
			@include adaptiveValue("font-size", 32, 20, 767.98, 320.98, 1);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 50;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(0, 0, 0);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
