//====================================================================================================
.page {
    &__main {
        @include adaptiveValue("padding-top", 121, 50);
        @include adaptiveValue("padding-bottom", 50, 10);
        height: 100%;
        display: flex;
    }
    // .page__container
    &__container {
        min-width: 0;
        position: relative;
        // прибавляю слева и справа отступы для блоков hashtag and scrol
        max-width: rem($maxWidthContainer) + rem(124);
        padding: 0 rem(62) 0 rem(32);
        // .page__container_wide
        &_wide {
            flex: 1 1 auto;
            position: relative;
            display: flex;
            max-width: rem(1680);
            padding: 0 rem(math.div($containerPadding, 2));
            min-width: 0;
        }
    }
    // .page__hashtag
    &__hashtag {
        position: absolute;
        left: 15px;
        top: 0;
        height: 100%;
    }
    // .page__slider
    &__swiper {
        height: 100%;
        width: 100%;
    }
    &__scroll {
        position: absolute;
        bottom: 0;
        right: 15px;
    }
    @media (max-width: $tablet) {
        // .page__container
        &__container {
            padding: rem(math.div($containerPadding, 2));
            // page__container_wide
            &_wide {
                padding: 0;
                // flex-direction: column;
            }
        }
        &__hashtag {
            // position: static;
            height: auto;
            width: 100%;
            top: -16px;
        }
        .hashtag {
            &__list {
                display: flex;
                gap: 12px;
                justify-content: center;
            }
            &__item {
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                margin-bottom: 0 !important;
            }
        }
        &__scroll {
            display: none;
        }
    }
    @media (max-width: $mobileSmall) {
        &__hashtag {
            display: none !important;
        }
        &__container {
            &_wide {
                padding: 0;
            }
        }
    }
}
.hashtag {
    font-weight: 400;
    font-size: rem(18);
    line-height: 1.75;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $colorWhite;

    // .hashtag__list
    &__list {
    }
    // .hashtag__item
    &__item {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
        transform: rotate(-180deg);
        writing-mode: vertical-lr;
        @media (any-hover: hover) {
            &:hover {
                color: $colorCalicio;
            }
        }
    }
}
.swiper-main {
    position: relative;

    // .swiper-main__wrapper
    &__wrapper {
        height: 100%;
    }
    // .swiper-main__slide
    &__slide {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding-top: 34px;
        @include adaptiveValue("padding-bottom", 90, 60, 1170+124, 899, 1);
        // padding-left: 34px;
        // @include adaptiveValue("padding-top", 34, );
        padding-right: 24px;
        @media (max-width: $mobile) {
            flex-direction: column;
            gap: 48px;
            padding: 0;
            padding-bottom: rem(16);
        }
        @media (max-width: $mobileSmall) {
        }
    }
    // .swiper-main__content
    &__content {
        z-index: 2;
        flex: 0 1 50%;
        max-width: 450px;
        @media (max-width: $mobile) {
            max-width: 100%;
            flex: 1 1 auto;
        }
    }
    // .swiper-main__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .swiper-main__text
    &__text {
        line-height: 1.75;
        letter-spacing: 0.04em;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .swiper-main__button
    &__button {
    }
    // .swiper-main__image-ibg
    &__image-ibg {
        height: 100%;
        position: relative;
        max-height: 736px;
        min-height: 150px;
        width: 100%;
        flex: 0 1 50%;
        transition: all 0.3s ease 0s;
        img {
            transition: all 0.3s ease 0s;
            z-index: 2;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            background: $colorCalicio;
            width: percent(435, 620);
            height: percent(435, 620);
            transition: all 0.3s ease 0s;
        }
        &::before {
            top: -24px;
            right: -24px;
        }
        &::after {
            bottom: -24px;
            left: -24px;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
                &::before {
                    top: -34px;
                    right: -34px;
                }
                &::after {
                    bottom: -34px;
                    left: -34px;
                }
            }
        }
        @media (max-width: $mobile) {
            flex: 1 1 auto;
            &::before,
            &::after {
                display: none;
            }
        }
    }
    // .swiper-main__pagination
    &__pagination {
        position: absolute;
        bottom: 2px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
        .swiper-pagination-bullet {
            @extend %ffcu;
            font-weight: 600;
            font-size: rem(16);
            line-height: 1.75;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            font-feature-settings: "tnum" on, "lnum" on;
            color: $colorWhite;
            opacity: 0.9;
            transition: all 0.3s ease 0s;
            display: flex;
            align-items: center;

            &::after,
            &::before {
                content: "";
                width: 0;
                height: 1px;
                background: $colorCalicio;
                transition: all 0.3s ease 0s;
            }
            &-active {
                opacity: 1;
                &:not(:last-child) {
                    &::after {
                        content: "";
                        width: rem(16);
                        margin-left: 8px;
                        height: 1px;
                        background: $colorCalicio;
                        vertical-align: middle;
                    }
                }
                &:last-child {
                    &::before {
                        content: "";
                        width: rem(16);
                        margin-right: 8px;
                        height: 1px;
                        background: $colorCalicio;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.page {
    // .page__restorant-home-about
    &__restorant-home-about {
    }
}
.restorant-home-about {
    position: relative;
    background: linear-gradient(180deg, rgba(4, 4, 4, 0.5046393557422969) 0%, rgba(4, 4, 4, 0.4962359943977591) 100%),
        url("@img/restoran-home/about-us/bg.jpg") center / cover no-repeat;
    &::before {
        content: "G";
        font-size: rem(700);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #272727;
    }
    // .restorant-home-about__container
    &__container {
        position: relative;
        z-index: 2;
    }
    // .restorant-home-about__content
    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: space-between;
    }
    // .restorant-home-about__abut-us
    &__abut-us {
        max-width: 523px;
        *:not(:last-child) {
            margin-bottom: 32px;
        }
        text-align: right;
    }
    // .restorant-home-about__title
    &__title {
        text-align: right;
        &_left {
            text-align: left;
        }
    }
    // .restorant-home-about__text
    &__text {
        line-height: 175%;
        letter-spacing: 0.04em;
    }
    // restorant-home-about__image-ibg
    &__image-ibg {
        width: 94px;
        height: 653px;
        flex: 0 0 auto;

        img {
            object-fit: contain;
        }
    }
    // restorant-home-about__image_horizont
    &__image_horizont {
        display: none;
    }
    // .restorant-home-about__our-histori
    &__our-histori {
        max-width: 523px;
        *:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    // .restorant-home-about__button
    &__button {
    }
    @media (max-width: $mobile) {
        &__content {
            flex-direction: column;
        }
        &__abut-us,
        &__our-histori,
        &__title {
            text-align: center !important;
            &::after {
                // text-align: center;
            }
        }
        &__image-ibg {
            display: none;
        }
        &__image_horizont {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

//====================================================================================================
